@media only screen and (max-width: 750px){

section
{
	min-height: 100vh;
	display: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#section1a .inner-section
{
  padding-top: 15px;
}

#section1b .inner-section
{
  padding-top: 15px;
}

.shadow
{
	box-shadow: 0 20px 30px 0 rgba(0,0,0,0.3);
	padding: 10px 25px;
	border-radius: 10px 10px 10px 10px;
	background: white;
}

/*=================section1====================*/

.top-rtplogo
{
	height: auto;
}

.btn-start
{
	height: 50px;
}

/*===========================other sections css===================*/

.inner-section
{
	min-height: 100vh;
    background:rgba(255,255,255,1);
}

.rtplogo
{
	height: 70px;
	margin-bottom: 25px;
}

.section-heading
{
	margin-bottom: 20px;
	margin-left: -12px;
}

.section-heading h4
{
	font-weight: bold;
	font-size: 1.8rem;
	font-family: 'Poppins', sans-serif !important;	
}

.sub-section
{
	margin-bottom: 20px;
}

.shadow2
{
	box-shadow: 0 20px 30px 0 rgba(0,0,0,0.3);
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 30px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0 !important;
}

.legend
{
	background-color: #FF621F;
	color: white;
	padding: 2px 10px !important;
	display: block;
	font-size: 18px !important;
	font-weight: bold;
	margin-bottom: 0;
}

small 
{
	font-size: 14px !important;
}

.previous-btn
{
   height: 50px;
   margin-right: 25px;
   margin-bottom: 15px;
}

.next-btn
{
   height: 50px;
   margin-bottom: 15px;
}

/*=======================table css===========================*/

.table th
{
  font-size: 1.1rem;
  text-align: center;
  padding: 15px !important;
}
.table td
{
  font-size: 1rem;
  vertical-align: middle;
  text-align: center;
  padding: 0px 5px !important;
}
.table .form-group
{
  padding: 0;
  margin: 0 auto;
  width: 80%;
}
.table .form-group select
{
  font-size: 1rem;
}

/*=====================tooltip css=====================*/

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, 
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #FFD900 !important;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before, 
.bs-tooltip-top .arrow::before {
    border-top-color: #FFD900 !important;
}

.tooltip-inner {
    max-width: 400px;
    background-color: #FFD900;
    border: 3px solid black;
    padding: 0px 0px 0px 0px !important;
}
.tooltip
{
  opacity: 1 !important;
  padding: 0px 0px 0px 0px !important;
}

.help-image
{
	height: auto;
	width: 100%;
	margin: 0px 0px 0px 0px !important;
}

.help-icon
{
	height: 20px;
	margin-left: 3px;
  margin-bottom: 1px;
}

/*===================modal styling=======================*/

.modal-header
{
	background-color: #FF621F;
	color: white;
}
.modal-footer img
{
	height: 40px !important;
}

}
