/* Pricing Section */
.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,0.3);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  font-size: 40px;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 25px;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0rem;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 15px 25px;
  opacity: 0.7;
  transition: all 0.2s;
  margin: 20px auto !important;
  background-color: #FF621F
}

#pricingcardsub
{
  text-align: center;
}
#fi
{
  height:80px;
  margin-bottom: -30px;
}

#ft
{
  margin-top: -75px;
  font-size: 2rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

#pricingcardbanner
{
  height:100px;
}

#pricing
{
  scroll-margin-top: 100px;
}
#pricingnames
{
  color: #ff611f;
  background-color: #ADD8E6;
}
#pricingprice
{
  font-size: 5rem;
  font-weight: 700;
}

#pli
{
  list-style: none;
  margin-bottom: 0rem;
}
#pli0
{
  color:limegreen;
  font-weight: 900;
}
#pricinglist
{
  font-weight: 900;
}
section
{
	min-height: 100vh;
	display: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#section1a .inner-section
{
  padding-top: 30px;
}

#section1b .inner-section
{
  padding-top: 70px;
}

.shadow
{
	box-shadow: 0 20px 30px 0 rgba(0,0,0,0.3);
	padding: 30px 40px;
	border-radius: 10px 10px 10px 10px;
	background: white;
}

/*=================section1====================*/

.top-rtplogo
{
	height: 120px;
}

.btn-start
{
	height: 85px;
}

/*===========================other sections css===================*/

.inner-section
{
	min-height: 100vh;
  background:rgba(255,255,255,0.3);
}

.rtplogo
{
	height: 80px;
	margin-bottom: 25px;
}

.section-heading
{
	margin-bottom: 20px;
	margin-left: -12px;
}

.section-heading h4
{
	font-weight: bold;
	font-size: 1.8rem;
	font-family: 'Poppins', sans-serif !important;	
}

.sub-section
{
	margin-bottom: 20px;
}

.shadow2
{
	box-shadow: 0 20px 30px 0 rgba(0,0,0,0.3);
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 30px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0 !important;
}

.legend
{
	background-color: #FF621F;
	color: white;
	padding: 2px 10px 3px !important;
	display: block;
	font-size: 22px !important;
	font-weight: bold;
	margin-bottom: 0;
}

small 
{
	font-size: 14px !important;
}

.previous-btn
{
   height: 60px;
   margin-right: 25px;
   margin-bottom: 15px;
}

.next-btn
{
   height: 60px;
   margin-bottom: 15px;
}

.add-staff {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 15px 25px;
  opacity: 0.7;
  background-color: #FF621F;
  color: white;
}

/*=======================table css===========================*/

.table th
{
  font-size: 1.1rem;
  text-align: center;
  padding: 15px !important;
}
.table td
{
  font-size: 1rem;
  vertical-align: middle;
  text-align: center;
  padding: 0px 5px !important;
}
.table .form-group
{
  padding: 0;
  margin: 0 auto;
  width: 80%;
}
.table .form-group select
{
  font-size: 1rem;
}

/*=====================tooltip css=====================*/

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, 
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #FFD900 !important;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before, 
.bs-tooltip-top .arrow::before {
    border-top-color: #FFD900 !important;
}

.tooltip-inner {
    max-width: 400px;
    background-color: #FFD900;
    border: 3px solid black;
    padding: 0px 0px 0px 0px !important;
}
.tooltip
{
  opacity: 1 !important;
  padding: 0px 0px 0px 0px !important;
}

.help-image
{
	height: auto;
	width: 100%;
	margin: 0px 0px 0px 0px !important;
}

.help-icon
{
	height: 25px;
	margin-left: 3px;
  margin-bottom: 1px;
}

/*===================modal styling=======================*/

.modal-header
{
	background-color: #FF621F;
	color: white;
}
.modal-footer img
{
	height: 40px !important;
}

/*=========================background images*/

#section1a,#section1b,#section1c,#section1d
{
	background-image: url(../img/section1.jpg);
}

#section2
{
	background-image: url(../img/section2.jpg);
}

#section3
{
	background-image: url(../img/section3.jpg);
}

#section4
{
	background-image: url(../img/section4.jpg);
}

#section5
{
	background-image: url(../img/section5.jpg);
}

#section6
{
	background-image: url(../img/section6.jpg);
}

#section7
{
	background-image: url(../img/section7.jpg);
}

#section8a
{
	background-image: url(../img/section8.1.jpg);
}

#section8b
{
  background-image: url(../img/section8.2.jpg);
}

#section8c
{
  background-image: url(../img/section8.3.jpg);
}

#section8d
{
  background-image: url(../img/section8.4.jpg);
}

#section8e
{
  background-image: url(../img/section8.5.jpg);
}

#section8f
{
  background-image: url(../img/section8.6.jpg);
}

#section9
{
	background-image: url(../img/section9.jpg);
}

#section10
{
	background-image: url(../img/section10.jpg);
}

#section11
{
	background-image: url(../img/section11.jpg);
}

#section12
{
	background-image: url(../img/section12.jpg);
}