@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body
{
  font-family: 'Poppins', sans-serif;
}

.btn-appointment
{
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px 25px;
  border-radius: .25rem;
  background-color: #FF7062;
  border: none;
  color: white;
}

.btn-appointment:hover
{
  color: white;
}

/*===========================tiles========================================*/
.bs-tooltip-auto[x-placement^=bottom] .arrow::before, 
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #FF611E !important;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before, 
.bs-tooltip-top .arrow::before {
    border-top-color: #FF611E !important;
}

.tooltip-inner {
    max-width: 300px;
    width: 300px; 
    background-color: #FF611E;
}

.tooltip
{
  opacity: 1 !important;
}
.tooltipPara
{
  color: white;
  font-weight: 700; 
  font-size: 14px;
  padding: 0px;
}
.tilesCol
{
  text-align: center;
}
.form-container
{
	width: 100%;
	max-width: 500px;
	-webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: white;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,0.3);
  padding: 40px 35px;
  margin-top: -50px;
}
.register-logo
{
  height: 65px;
}
.head-container
{
	width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
	max-width: 500px;
}
.head-container h2
{
	font-weight: bold;
	color: #FF7062;
  margin-bottom: 20px;

}
.head-container h1
{
  font-weight: bold;
  color: #FF611E;
  margin-bottom: 20px;

}
.fieldset-group
{
  margin: 5px;
}
.form-control[type='text'], .form-control[type='email'], .form-control[type='number'], .form-control[type='tel'], .form-control[type='password'], .form-control[type='date'], 
  select.form-control , textarea.form-control, .select2-selection
{
  border: none;
  color: #0d0d0d;
  height: 55px !important;
  font-size: 16px;
  margin: 5px;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid #FF0000;
}

#docs
{
  border: 2px solid #FF0000;
}

#docs:valid
{
  border: 2px solid #00FF7F;
}

.form-group label, legend
{
  font-size: 22px;
}
.select2-selection
{
  padding: 15px;
}
fieldset
{
  background-color:white;
  margin-top: 10px;
}
fieldset.fieldset-border
{
  border: 1px solid black;
}
legend
{
  margin-left:0px;
}

.form-checkbox, .form-radio {
  padding:2px;
  max-width: 100% !important;
  display: inline-block;
  margin-right: 8px;
  background:white;
}
.checklabel,.radiolabel{
  display:block;
  width: 430px;
  border:2px solid #FF7062;
  background: white;
  border-radius:12px;
  text-align:center;
  padding:10px 2em;
  font-size:1.2rem;
  font-weight: bold;
  box-shadow:0 0 1px 1px rgba(0,0,0,0.2);
}
.label-center-section .checklabel,.label-center-section .radiolabel
{
  text-align:left;
}
.checklabel:hover, .radiolabel:hover {
  background:#ddd;
}
.checkbox, .radio {
  display: none;
}
.checkbox:focus + label, .radio:focus + label{
  border-color:#FF7062;
} 
.checkbox:active + label {
  background-color: #ddd;
}
.checkbox:checked + label, .radio:checked + label {
  background-position: 0 0;
  background-color: #FF7062;
  color: white;
}
.btn
{
  padding: 15px 70px;
  text-align: center;
  
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
}
.btn-next:hover
{
  color: white !important;
}
.btn-next
{
  width: 50%;
  background-color: #FF7062;
  border: none;
  color: white;
}

.btn-prev
{
  width: 50%;
	background-color: white;
  border: none;
  color: black;
  border: 1px solid #FF7062;
}

.buttons-div
{
  margin-top: 30px;
  text-align: center;
}

section
{
  display: none;
  padding-bottom: 20px;
}

.intial_hidden
{
  display: none;
}

#consent-scroll
{
  height: 300px;
  overflow-y: scroll;
  border: 1px solid black;
  padding: 20px;
}
label .important,legend .important
{
  color: red;
  font-weight: bold;
}

.error-span
{
  color: red;
}
.has-error
{
  border: 1px solid red !important;
}

.accordion 
{
  background-color: #eee;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
}

.accordion.active, .accordion:hover 
{
  background-color: #FF7062;
  color: white;
}

.accordion:after 
{
  content: '\002B';
  color: #FF7062;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordian.active:after 
{
  content: "\2212";
  color: white;
}

.panel 
{
  padding: 0 18px;
  background-color: white;
  font-size: 18px;
  font-weight: 400;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.btn-contact
{
  background-color: #FF7062;
  color: white;
  border-radius: 10rem;
  padding: 10px 40px;
  margin-left:0px;
  font-size: 18px;
}

#loader {
  position: fixed;
  left: 45%;
  top: 35%;
  display: none;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media only screen and (max-width: 750px)
{
  .form-checkbox, .form-radio
  {
    margin-right: 5px !important;
  }
  .checklabel, .radiolabel
  {
    padding:8px !important;
    font-size:14px !important;
    width: 100%;
    min-width: 300px;
  }
  .form-group label
  {
    font-size: 15px;
  }

  fieldset
  {
    padding: 12px;
  }
  legend
  {
    font-size: 16px;
  }
  .form-control[type='text'], .form-control[type='email'], .form-control[type='number'], .form-control[type='tel'], .form-control[type='password'], .form-control[type='date'], 
  select.form-control , textarea.form-control
  {
    font-size: 1rem;
  }
}

