@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Bree Serif', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
}

a {
  color: #4FB5E6;
}

a:hover {
  color: #4FB5E6;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  opacity: 0;
  border-radius: 50px 50px 0 0;
  right: 15px;
  bottom: 15px;
  padding: 10px;
  background-color: #4FB5E6;
  color: #fff;
  transition: all 0.5s ease-in-out;
  z-index: 11;
  animation: backtop 2s linear infinite;
}

.back-to-top span{
  writing-mode: vertical-lr;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  word-spacing: 4px;
  margin-bottom: 35px;
  margin-top: 10px;
}

.back-to-top.showbacktop{
  opacity: 1;
}

@keyframes backtop {
  0% {
    transform: scale(1.1) translateY(0);
  }
  20% {
    transform: scale(1.1) translateY(-10px);
  }
  30% {
    transform: scale(1.1) translateY(10px);
  }
  50% {
    transform: scale(1.1) translateY(-10px);
  }
  60% {
    transform: scale(1.1) translateY(10px);
  }
  100% {
    transform: scale(1.1) translateY(0);
  }
}

.back-to-top i {
  font-size: 24px;
  background-color: #32609E;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  text-align: center;
}

.back-to-top:hover {
  color: #fff;
  background-color: #32609E;
  transition: all 0.5s ease-in-out;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background: #fff;
  overflow: hidden;
}

.preloader-section{
  height: 100vh;
  width: 50vw;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #222222;
  transition: 0.3s;
}

.preloader-left{
  left: 0;
}

.loaded-left{
  left: -50vw;
}

.preloader-right{
  right: 0;
}

.loaded-right{
  right: -50vw;
}

#preloader_1{
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  transform: translateY(-50%);
  background-color: black !important;
}

#preloader_1 span{
  display:block;
  bottom:0px;
  width: 6px;
  height: 5px;
  background:#e04f5d; 
  position:absolute;
  animation: preloader_1 1.5s  infinite ease-in-out;
}
 
#preloader_1 span:nth-child(2){
left:11px;
animation-delay: .2s;
 
}
#preloader_1 span:nth-child(3){
left:22px;
animation-delay: .4s;
}
#preloader_1 span:nth-child(4){
left:33px;
animation-delay: .6s;
}
#preloader_1 span:nth-child(5){
left:44px;
animation-delay: .8s;
}
@keyframes preloader_1 {
    0% {height:5px;transform:translateY(0px);background:#e62d3f;}
    25% {height:30px;transform:translateY(15px);background:#e62d3f;}
    50% {height:5px;transform:translateY(0px);background:#ee2438;}
    100% {height:5px;transform:translateY(0px);background:#ee2438;}
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  z-index: 997;
  transition: all 0.5s ease-in-out;
  background: #fff;
}

#header.header-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.45);
}

@media (max-width: 768px) {}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  width: 8.5vw;
  display: block;
  text-align: center;
  position: relative;
  color: #32609E;
  letter-spacing: 1.1px;
  padding: 15px 22px 10px;
  transition: all 0.5s ease-in-out;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-menu a img{
  display: block;
  max-height: 70px;
  margin: 0 auto 5px;
}

.nav-menu a span{
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #4FB5E6;
  border-bottom: 4px solid #4FB5E6;
  text-decoration: none;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 25px;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: all 0.5s ease-in-out;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #3b626f;
}

.nav-menu .drop-down ul a img{
  display: none;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #85b0be;
}

.nav-menu .drop-down ul .active > a img{
  display: none;
}

.nav-menu .drop-down ul .active > a span{
  display: flex;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: #fff;
  font-size: 24px;
  transition: all 0.5s ease-in-out;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  padding: 10px;
}

.mobile-nav-toggle i {
  color: #32609E;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #052c3f;
  padding: 15px 20px;
  font-weight: 500;
  outline: none;
  text-align: center;
}

.mobile-nav a img{
  max-height: 30px;
  margin-right: 10px;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #85b0be;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(1, 11, 16, 0.6);
  overflow: hidden;
  display: none;
  transition: all 0.5s ease-in-out;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #32609E !important;
  font-weight: bold;
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
.hero-area {
  padding: 0 0;
  position: relative;
  z-index: 1; 
}

.hero-carousel {
  position: relative;
  z-index: 1;
  overflow: hidden; 
  background-color: #f2f3f5;
}

.hero-carousel .owl-prev,
.hero-carousel .owl-next {
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #4FB5E6;
  text-indent: -50000em;
  position: absolute;
  top: 85%;
  left: 80px;
  margin-top: -40px;
  z-index: 10;
  background-position: center center !important;
  background-size: cover !important;
  opacity: 0;
  visibility: hidden; 
}

.hero-carousel .owl-next {
  left: auto;
  right: 80px; 
}

.hero-carousel:hover .owl-prev,
.hero-carousel:hover .owl-next, 
.hero-carousel:focus .owl-prev,
.hero-carousel:focus .owl-next {
  opacity: 1;
  visibility: visible; 
}

.hero-item {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(100vh - 105px);
  background-size: cover;
}

.hero-item::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.hero-content{
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 25%;
  right: 25%;
  padding: 20px;
  text-align: center;
}

.hero-content h1{
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 1.3px;
  word-spacing: 5px; 
}

@media(max-width: 767px){
  .hero-carousel .owl-prev,
  .hero-carousel .owl-next {
    width: 60px;
    height: 60px;
    top: 50%;
    left: 30px;
    margin-top: 0;
  }

  .hero-carousel .owl-next {
    right: 30px !important;
    left: auto; 
  }

  .hero-content{
    left: 0;
    right: 0;
    padding: 15px;
  }

  .hero-content h1{
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 1.1px;
    word-spacing: 4px; 
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .hero-carousel .owl-prev,
  .hero-carousel .owl-next {
    width: 70px;
    height: 70px;
    top: 50%;
    left: 30px;
    margin-top: -40px;
  }

  .hero-carousel .owl-next {
    right: 30px !important;
    left: auto; 
  }

  .hero-content{
    left: 10%;
    right: 10%;
    padding: 18px;
  }

  .hero-content h1{
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 1.2px;
    word-spacing: 4.5px; 
  }
}

/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
main{overflow: hidden;}

section{
  padding: 70px 0;
  overflow: hidden;
}

.section-bg{
  background-color: #f2f3f5; /*#f2f3f5*/;
}

.section-title{
  text-align: center;
  margin-bottom: 50px;
}

.section-title span{
  font-weight: 300;
  font-size: 20px;
  color: red;
  position: relative;
}

.section-title span::before{
  content: '';
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #4FB5E6;
  left: -120px;
  top: 50%;
}

.section-title span::after{
  content: '';
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #4FB5E6;
  right: -120px;
  top: 50%;
}

.section-title h2{
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 1.3px;
  word-spacing: 5px;
  color: #32609E;
  text-transform: uppercase;
}

@media(max-width: 767px){
  section{
    padding: 35px 0;
  }

  .section-title{
    margin-bottom: 30px;
  }

  .section-title span{
    font-size: 18px;
  }

  .section-title span::before{
    width: 40px;
    left: -60px;
  }

  .section-title span::after{
    width: 40px;
    right: -60px;
  }

  .section-title h2{
    font-size: 32px;
    letter-spacing: 1.1px;
    word-spacing: 4px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  section{
    padding: 50px 0;
  }

  .section-title{
    margin-bottom: 40px;
  }

  .section-title span::before{
    width: 60px;
    left: -80px;
  }

  .section-title span::after{
    width: 60px;
    right: -80px;
  }

  .section-title h2{
    font-size: 36px;
    letter-spacing: 1.2px;
    word-spacing: 4.5px;
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about-item{
  border: 5px solid #32609E;
  text-align: center;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.45);
}

.about-head{
  transition: all 0.5s ease-in-out;
  padding: 25px;
  background-color: #4FB5E6;
}

.about-item:hover .about-head{
  background-color: #32609E;
}

.about-head h4{
  color: #fff;
}

.about-icon{
  width: 100px;
  height: 100px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto 15px;
  background-color: #fff;
  border-radius: 50%;
}

.about-icon img{
  max-height: 60px;
  transition: all 0.5s ease-in-out;
}

.about-item:hover .about-icon img{
  transform: rotateY(360deg);
}

.about-desc{
  background-color: #fff;
  padding: 15px;
}

.about-desc p{
  font-size: 18px;
  line-height: 28px;
}

@media(max-width: 767px){
  .about-item{
    margin-bottom: 25px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .about-item{
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Social Media
--------------------------------------------------------------*/
.social-block{
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  transition: all 0.5s ease-in-out;
}

.social-block img{
  transition: all 0.5s ease-in-out;
}

.social-block:hover img{
  transform: rotateY(360deg);
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Medical Media
--------------------------------------------------------------*/
.medical-box{
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 140px;
  transition: all 0.5s ease-in-out;
}

.medical-box img{
  transition: all 0.5s ease-in-out;
}

.medical-box:hover img{
  transform: rotateY(360deg);
}

@media(max-width: 767px){
  .medical-box{
    padding: 15px;
    min-height: auto;
  }
}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Strips
--------------------------------------------------------------*/
.strip-content {
  padding: 30px 0 70px;
  background-color: #4FB5E6;
  color: #fff;
  position: relative;
  z-index: 1;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  overflow: hidden;
  animation: striprotate 3s linear infinite;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.45);
}

.strip-content::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(24, 142, 214, 0.85);
  position: absolute;
  top: -25px;
  left: -1px;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  animation: striprotate 3s linear infinite;
}

@keyframes striprotate {
  0% {
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  25% {
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
  }
  50% {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
  }
  75% {
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
  }
  100% {
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}  

.strip-content .strip-btn {
  align-self: flex-end;
  margin-right: 30px;
}

@media(max-width: 767px){
  .strip-content {
    padding: 20px 10px 50px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .strip-content h2{
    font-size: 28px;
  }

  .strip-content::after {
    width: 100%;
    height: 100%;
    top: -25px;
    left: -1px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
  }

  @keyframes striprotate {
    0% {
      border-top-right-radius: 80px;
      border-bottom-left-radius: 80px;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    25% {
      border-top-right-radius: 40px;
      border-bottom-left-radius: 40px;
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;
    }
    50% {
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 80px;
      border-bottom-right-radius: 80px;
    }
    75% {
      border-top-right-radius: 40px;
      border-bottom-left-radius: 40px;
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;
    }
    100% {
      border-top-right-radius: 80px;
      border-bottom-left-radius: 80px;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .strip-content .strip-btn {
    align-self: center;
    margin-right: 30px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .strip-content {
    padding: 25px 10px 60px;
    border-top-right-radius: 120px;
    border-bottom-left-radius: 120px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .strip-content h2{
    font-size: 32px;
  }

  .strip-content::after {
    width: 100%;
    height: 100%;
    top: -25px;
    left: -1px;
    border-top-right-radius: 120px;
    border-bottom-left-radius: 120px;
  }

  @keyframes striprotate {
    0% {
      border-top-right-radius: 120px;
      border-bottom-left-radius: 120px;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    25% {
      border-top-right-radius: 60px;
      border-bottom-left-radius: 60px;
      border-top-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }
    50% {
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 120px;
      border-bottom-right-radius: 120px;
    }
    75% {
      border-top-right-radius: 60px;
      border-bottom-left-radius: 60px;
      border-top-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }
    100% {
      border-top-right-radius: 120px;
      border-bottom-left-radius: 120px;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .strip-content .strip-btn {
    align-self: center;
    margin-right: 30px;
  }
}

/*--------------------------------------------------------------
# Template Btn
--------------------------------------------------------------*/
.btn11{    
    padding: 13px 50px;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase!important;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    position: relative;
    top: 10px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden!important;
    transition: all .3s ease-in-out;
}

.btn11:hover{
  background-color: #32609E;
  color: #fff;
}

.btn11::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: #4FB5E6;
    position: absolute;  
    left: 0%;
    opacity: 1;
    top: 0;
    z-index: 2;
    transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
}

.btn11::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: #80ffd3;
    position: absolute;
    left: 0%;
    opacity: 1;
    top: 0;
    z-index: 1;
    transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
}

.btn11:hover::before, .btn11:hover::before{
  opacity:1;
  transform: translateX(100%);
}

.btn11:hover::after, .btn11:hover::after{
  opacity:1;
  transform: translateX(-100%);
}

.btn11 span {
    position: relative;
    z-index: 3;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Template Btn
--------------------------------------------------------------*/
.template-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.6875rem 3.5625rem;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: 1.2px;
  word-spacing: 5px;
  border-top-right-radius: 1.5625rem;
  border-bottom-left-radius: 1.5625rem;
  transition: color 0.15s ease-in-out, 
  background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, 
  box-shadow 0.15s ease-in-out;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  color: #fff;
  background-color: #4FB5E6;
  border-color: #4FB5E6;
}

.template-btn:hover {
  color: #4FB5E6 !important;
  background-color: #fff;
  font-weight: 600;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Resources
--------------------------------------------------------------*/
@media(min-width: 992px){
  .mt-200{
    margin-top: 200px;
  }
}

.resource-item{
  background-color: #4FB5E6;
  color: #fff;
  border: 5px solid #32609E;
  padding: 20px 35px 30px 25px;
  text-align: right;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.45);
}

#resource2 .resource-item{
  padding: 20px 25px 30px 35px;
  text-align: left;
}

.resource-item p{
  margin-bottom: 30px;
}

.resource-icon{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #fff;
  border: 5px solid #32609E;
  padding: 15px;
  margin: -50px 25px 15px auto;
}

#resource2 .resource-icon{
  margin: -50px auto 15px 25px;
}

.resource-btn a{
  color: #fff;
  padding: 10px 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.resource-btn a:hover{
  background-color: #fff;
  color: #4FB5E6;
}

.auth-btns{
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.resource-item:hover .auth-btns{
  opacity: 1;
}

@media(max-width: 767px){
  .resource-item{
    margin-top: 60px;
    padding: 20px 15px 30px 15px;
    text-align: center;
  }

  #resource2 .resource-item{
    padding: 20px 15px 30px 15px;
    text-align: center;
  }

  .resource-icon{
    margin: -50px auto 15px;
  }

  #resource2 .resource-icon{
    margin: -50px auto 15px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .resource-item{
    margin-top: 60px;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .service-item {
  border: 5px solid #32609E;
  background-color: #4FB5E6;
  text-align: center;
  margin-bottom: 30px;
  padding: 60px 60px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.45);
}

.services .service-item:hover{
  padding: 40px 30px;
}

.services .service-item .service-head {
  background-color: #fff;
  height: 280px;
  transition: all 0.5s ease-in-out;
}

.services .service-item:hover .service-head {
  height: 140px;
}

.services .service-item .service-head .service-icon {
  width: 200px;
  height: 200px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
}

.services .service-item:hover .service-head .service-icon {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.services .service-item .service-head .service-icon img{
  max-height: 140px;
  transition: all 0.5s ease-in-out;
}

.services .service-item:hover .service-head .service-icon img{
  max-height: 80px;
}

.services .service-item .service-head h4{
  font-weight: 700;
  font-size: 24px;
  margin-top: 10px;
  transition: all 0.5s ease-in-out;
}

.services .service-item p{
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.4s;
  opacity: 0;
  display: none;
  transform: translate3D(0,180px,0);
}

.services .service-item:hover p {
  opacity: 1;
  display: flex;
  transform: translate3D(0,0,0);
  height: 180px;
  font-size: 18px;
  line-height: 28px;
  padding: 10px;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Insurance
--------------------------------------------------------------*/
.insurance-item{
  background-color: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.45);
}

.insurance-box{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:30px;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Recent Blogs
--------------------------------------------------------------*/
.recentblog-item{
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.45);
}

.recentblog-img{
  position: relative;
  transition: all 0.5s ease-in-out;
  padding: 0 0;
}

.recentblog-img span{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4FB5E6;
  color: #fff;
  padding: 15px 20px;
  text-align: center;
}

.recentblog-content{
  padding: 15px;
  text-align: center;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.recentblog-content h4{
  font-weight: bold;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

.recentblog-content p{
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 0;
  transition: all 0.5s ease-in-out;
}

.recentblog-author{
  position: relative;
  background-color: #4FB5E6;
  color: #fff;
  padding: 10px;
}

.recentblog-author img{
  max-height: 30px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.recentblog-btn{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-color: #32609E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recentblog-btn i{
  font-size: 24px;
  color: #fff;
}

@media(max-width: 767px){
  .recentblog-item{
    margin-bottom: 25px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .recentblog-item{
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Doctors
--------------------------------------------------------------*/
.doctor-item{
  background-color: transparent;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.doctor-img{
  background-color: #32609E;
  margin: 0 45px;
  padding-top: 15px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.45);
}

.doctor-content{
  padding: 20px;
  border: 5px solid #32609E;
  border-radius: 20px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.45);
}

.doctor-content:hover{
  transform: rotateY(360deg);
}

.doctor-content h4{
  font-weight: bold;
}

.doctor-content span{
  font-style: italic;
  font-weight: 300;
}

.doctor-social{
  margin-top: 30px;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.doctor-item:hover .doctor-social{
  opacity: 1;
}

.doctor-social a img{
  max-height: 40px;
  margin-right: 20px;
  transition: all 0.5s ease-in-out;
}

.doctor-social a img:hover{
  transform: rotateY(360deg);
}

.doctor-social a:last-child img{
  margin-right: 0;
}

@media(max-width: 767px){
  .doctor-item{
    margin-bottom: 40px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .doctor-item{
    margin-bottom: 40px;
  }
}

/*--------------------------------------------------------------
# Faqs
--------------------------------------------------------------*/
.accordion {
  display: grid;
  grid-gap: 15px;
}

.faq-item {
  background-color: #32609E;
  display: block;
  padding: 20px;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.45);
}

.faq-item:not(:last-child) {
  border-bottom: 1px solid #fafafa;
}

.faq-heading {
  font-size: 16px;
  line-height: 1.5;
  transition: all 0.5s ease-in-out;
  position: relative;
  padding-right: 30px;
  font-weight: 700;
  color: #fff;
}

.faq-heading img{
  max-height: 25px;
  margin-right: 10px;
}

.faq-heading::after, .faq-heading::before {
  content: "";
  width: 16px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 8px;
  transition: all 0.5s ease-in-out;
}
.faq-heading::after {
  transform: rotate(90deg);
}

.faq-desc {
  display: none;
  transform: translateY(50%);
  background-color: #fff;
  padding: 8px;
  color: #999;
  font-size: 16px;
  line-height: 1.5;
  max-height: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.faq-desc p{
  margin-bottom: 0;
}

.faq-item [type=checkbox], 
.faq-item [type=radio] {
  display: none;
}

.faq-item [type=radio]:checked + .faq-heading, 
.faq-item [type=checkbox]:checked + .faq-heading {
  margin-bottom: 15px;
}

.faq-item [type=radio]:checked + .faq-heading::after, 
.faq-item [type=checkbox]:checked + .faq-heading::after {
  transform: rotate(45deg);
}

.faq-item [type=radio]:checked + .faq-heading::before, 
.faq-item [type=checkbox]:checked + .faq-heading::before {
  transform: rotate(-45deg);
}

.faq-item [type=radio]:checked + .faq-heading + .faq-desc,
.faq-item [type=checkbox]:checked + .faq-heading + .faq-desc {
  transform: translateY(0);
  max-height: none;
  opacity: 1;
  color: #4c4848;
  font-weight: 500;
  display: block;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonial-item{
  overflow: hidden !important;
}

.testimonial-author{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4FB5E6;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.45);
}

.testimonial-author img{
  border-radius: 50%;
  margin: 0 auto;
}

.testimonial-content{
  padding-left: 30px;
}

.testimonial-content p{
  font-size: 26px;
  line-height: 38px;
  font-style: italic;
  padding-top: 30px;
  height: 300px;
  margin-bottom: 0;
  overflow: scroll;
}

.testimonial-content p::-webkit-scrollbar{
  width: 0;
}

.quote-down{
  max-height: 70px;
  transform: rotate(180deg);
  margin-top: -20px;
  margin-right: 7px;
}

.testimonial-authordetail{
}

.testimonial-authordetail h5{
  font-weight: bold;
}

.testimonial-authordetail span{
  font-style: italic;
  font-weight: 300;
}

.testimonial-carousel .owl-item {
  float: left;
}

.testimonial-carousel{
  overflow: hidden;
  position: relative;
  padding-bottom: 110px;
}

.testimonial-carousel .owl-nav{
  display: none;
}

.testimonial-carousel .owl-nav .owl-prev{
  position: absolute;
  left: calc(50% - 55px);
  bottom: 0;
}

.testimonial-carousel .owl-nav .owl-next{
  position: absolute;
  right: calc(50% - 55px);
  bottom: 0;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next{
  background-color: #4FB5E6;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px){
  .testimonial-author{
    padding: 25px;
  }

  .testimonial-content{
    padding: 20px;
  }

  .testimonial-content p{
    font-size: 22px;
    line-height: 32px;
    padding-top: 20px;
    height: 250px;
  }

  .quote-down{
    max-height: 50px;
    margin-top: -15px;
    margin-right: 5px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .testimonial-author{
    padding: 25px;
  }

  .testimonial-content{
    padding: 20px;
  }

  .testimonial-content p{
    font-size: 24px;
    line-height: 36px;
    padding-top: 25px;
    height: 280px;
  }

  .quote-down{
    max-height: 60px;
    margin-top: -18px;
    margin-right: 6px;
  }
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contactus{
  background-color: #32609E;
  padding: 20px 100px;
  color: #fff;
}

.contact-icon{
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  float: left;
  margin-right: 15px;
}

.contact-icon img{
  max-height: 45px;
}

@media(max-width: 767px){
  .contactus{
    padding: 20px 20px;
  }

  .contact-item{
    margin-bottom: 30px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .contactus{
    padding: 20px 20px;
  }

  .contact-item{
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #1f2627;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
  font-size: 16px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
  color: #fff;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# All Blogs
--------------------------------------------------------------*/
.myblog-img{
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.45);
  position: relative;
}

.blog-eye{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.blog-eye a i{
  color: #fff;
  font-weight: 800;
  font-size: 48px;
}

.myblog-img:hover .blog-eye{
  height: 100%;
  opacity: 1;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Blog Detail
--------------------------------------------------------------*/
.blog-single-btn{
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  line-height: 1;
  letter-spacing: 1px;
  display: inline-block;
  color: #fff;
  background: #4FB5E6;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.blog-single-btn:hover{
  color: #fff;
}

.blog .entry {
  padding: 20px;
  margin-bottom: 60px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.45);
}

.blog .entry .entry-img {
  max-height: 400px;
  margin: -20px -20px 20px -20px;
  overflow: hidden;
}

.blog .entry .entry-title {
  font-size: 22px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}

.blog .entry .entry-title a {
  transition: all 0.5s ease-in-out;
}

.blog .entry .entry-title a:hover {
  color: #4FB5E6;
}

.blog .entry .entry-meta {
  margin-bottom: 15px;
}

.blog .entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.blog .entry .entry-meta ul li + li {
  padding-left: 20px;
}

.blog .entry .entry-meta i {
  font-size: 15px;
  padding-right: 4px;
  color: #4FB5E6;
}

.blog .entry .entry-meta a {
  font-size: 15px;
  display: inline-block;
  line-height: 1;
}

.blog .entry .entry-content p {
  line-height: 28px;
  font-size: 18px;
}

.blog .entry .entry-content ul{
  list-style: none;
  padding-left: 0px;
}

.blog .entry .entry-content ul li{
   font-size: 18px;
   line-height: 26px;
   margin-bottom: 16px;
}

.blog .entry .entry-content ul li i{
  color: #4FB5E6;
  font-size: 22px;
  margin-right: 5px;
}

.blog .entry .entry-content .read-more {
}

.blog .entry .entry-content .read-more a {
  padding: 18px 32px;
}

/* comments */

.blog .blog-comments {
  margin-bottom: 30px;
}

.blog .blog-comments .comments-count {
  font-weight: bold;
}

.blog .blog-comments .comment {
  margin-top: 30px;
  position: relative;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.45);
}

.blog .blog-comments h4{
}

.blog .blog-comments .comment .comment-img {
  width: 60px;
  margin-right: 10px;
}

.blog .blog-comments .comment h5 {
  margin-left: 65px;
  font-size: 16px;
  margin-bottom: 2px;
}

.blog .blog-comments .comment h5 a {
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.blog .blog-comments .comment h5 a:hover {
  color: #4FB5E6;
}

.blog .blog-comments .comment h5 .reply {
  padding-left: 10px;
}

.blog .blog-comments .comment time {
  margin-left: 65px;
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.blog .blog-comments .comment p {
  margin-left: 65px;
}

.blog .blog-comments .comment.comment-reply {
  padding-left: 40px;
}

.blog .blog-comments .reply-form {
  margin-top: 30px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.45);
}

.blog .blog-comments .reply-form h4 {
  font-weight: bold;
  font-size: 22px;
}

.blog .blog-comments .reply-form p {
  font-size: 14px;
}

.blog .blog-comments .reply-form input {
  border-radius: 0;
  padding: 20px 10px;
  font-size: 14px;
}

.blog .blog-comments .reply-form input:focus {
  box-shadow: none;
  border-color: #4FB5E6;
}

.blog .blog-comments .reply-form textarea {
  border-radius: 0;
  padding: 10px 10px;
  font-size: 14px;
}

.blog .blog-comments .reply-form textarea:focus {
  box-shadow: none;
  border-color: #4FB5E6;
}

.blog .blog-comments .reply-form .form-group {
  margin-bottom: 25px;
}

.blog .blog-comments .reply-form .blog-detailbtn {
  padding: 14px 30px;
  border: none;
}

.blog .blog-pagination {
}

.blog .blog-pagination ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.blog .blog-pagination li {
  border: 1px solid #4FB5E6;
  margin: 0 5px;
  transition: all 0.5s ease-in-out;
  background-color: #fff;
}

.blog .blog-pagination li.active {
  background: #4FB5E6;
}

.blog .blog-pagination li a {
  color: #4FB5E6;
  font-weight: bold;
  padding: 7px 16px;
  display: inline-block;
}

.blog .blog-pagination li.active, .blog .blog-pagination li:hover {
  background: #4FB5E6;
  border: 1px solid #4FB5E6;
}

.blog .blog-pagination li.active a, .blog .blog-pagination li:hover a {
  color: #fff;
}

.blog .blog-pagination li.disabled {
  background: #fff;
  border: 1px solid white;
}

.blog .blog-pagination li.disabled i {
  color: #f1f1f1;
  padding: 10px 16px;
  display: inline-block;
}

.blog .sidebar {
  margin: 0 0 60px 0;
}

.blog .blog-author {
  padding: 20px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.45);
  text-align: center;
}

.blog .blog-author img {
  width: 120px;
  margin-bottom: 15px;
}

.blog .blog-author h4 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 10px;
}

.blog .blog-author .social-links {
  margin: 0 0 5px 0px;
}

.blog .blog-author .social-links a {
  color: #4FB5E6;
}

.blog .sidebar .sidebar-title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px;
  background-color: #4FB5E6;
  margin: 0 0 0 0;
  color: #fff;
  text-align: center;
  letter-spacing: 1.4px;
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.45);
}

.blog .sidebar .sidebar-title i{
  display: none;
}

.blog .sidebar .sidebar-item {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.45);
}

.blog .sidebar .categories ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .categories ul li + li {
  padding-top: 10px;
}

.blog .sidebar .categories ul a {
  color: #4FB5E6;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid #4FB5E6;
  display: block;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.blog .sidebar .categories ul a:hover {
  background-color: #4FB5E6;
  color: #fff;
}

.blog .sidebar .categories ul a span {
  padding-left: 5px;
  font-size: 14px;
}

.blog .sidebar .recent-posts .post-item + .post-item {
  margin-top: 15px;
}

.blog .sidebar .recent-posts img {
  width: 80px;
  float: left;
}

.blog .sidebar .recent-posts h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
}

.blog .sidebar .recent-posts h4 a {
  transition: all 0.5s ease-in-out;
}

.blog .sidebar .recent-posts h4 a:hover {
  color: #4FB5E6;
}

.blog .sidebar .recent-posts time {
  display: block;
  margin-left: 95px;
  font-style: italic;
  font-size: 14px;
}

.blog .sidebar .tags {
}

.blog .sidebar .tags ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .tags ul li {
  display: block;
}

.blog .sidebar .tags ul a {
  color: #4FB5E6;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid #4FB5E6;
  display: block;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.blog .sidebar .tags ul a:hover {
  color: #fff;
  background: #4FB5E6;
}

.blog .sidebar .tags ul a span {
  padding-left: 5px;
  font-size: 14px;
}

.btn-toolbar button{
  margin-right: 10px;
  padding: 12px 20px;
  font-size: 20px;
} 

.btn-toolbar .facebook{
  background-color: #3B5998;
}

.btn-toolbar .twitter{
  background-color: #55ACEE;
}

.btn-toolbar .instagram{
  background-color: #125688;
}

.btn-toolbar .linkedin{
  background-color: #007bb5;
}

.btn-toolbar button a{
  color: #fff;
}

@media(max-width: 767px){
  .blog .entry {
    margin-bottom: 20px;
  }
  .blog .entry-title{
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .blog .blog-pagination {
    margin-bottom: 40px;
  }
  .blog .sidebar .sidebar-item {
    margin-bottom: 20px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .blog .blog-pagination {
    margin-bottom: 50px;
  }
}