@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

/* =================== typography =================== */
body {
  font-family: "Poppins", sans-serif;
}

.admin-menu {
  background-color: #ff611e;
}
.navbar-brand {
  font-weight: 700;
  font-size: 20px;
  color: #06b2b6;
  letter-spacing: 2px;
}
.navbar-nav li {
  margin-left: 20px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav-item .nav-link {
  color: white !important;
}

.active {
  font-weight: bold;
}

.btn-edit,
.btn-viewImg,
.btn-delete {
  padding: 8px 10px !important;
  margin: 3px 0px !important;
}
