@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap');

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  /*font-family: "Montserrat", sans-serif;*/
  /*font-family: "Muli", sans-serif;*/
  font-family: 'Baloo Bhaijaan 2', cursive;
  color: #000;
}

a,a:hover{
  text-decoration: none;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 80px 0;
}

.section-bg {
  background-color: #f2f9f8 /*#f2f9f8*/;
}

/*--------------------------------------------------------------
# My Title
--------------------------------------------------------------*/
.mytitle{
  margin-bottom: 80px;
}

.title-left{
  background-color: #fd990c;
  text-align: right;
  padding: 15px 30px 10px;
}

.title-left h6{
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}

.title-right{
  background-color: #fd990c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-right a{
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
}

/*--------------------------------------------------------------
# Strips
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Template btn
--------------------------------------------------------------*/
.template-btn{
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  position: relative;
  border-radius: 30px;
  transition: 0.5s;
  line-height: 1;
  letter-spacing: 1px;
  display: inline-block;
  color: #fff;
  background: #fd990c;
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px 30px;
  border: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

.template-btn span{
  color: #fff;
  position: relative;
  z-index: 10;
}

.template-btn::after{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  background: red;
  z-index: 0;
  content: '';
  transition: all 400ms cubic-bezier(.33,.68,.59,.99);
  border-radius: 30px;
}

.template-btn:hover::after{
  width: 100%;
  color: #fff !important;
}

.template-btn:hover span{
  color: #fff;
}

/*--------------------------------------------------------------
# Tooltip
--------------------------------------------------------------*/
.bs-tooltip-auto[x-placement^=bottom] .arrow::before, 
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #052c3f !important;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before, 
.bs-tooltip-top .arrow::before {
    border-top-color: #052c3f !important;
}

.tooltip-inner {
    border-radius: 10px;
    background-color: #052c3f;
    font-size: 20px;
    padding: 15px;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about1{
  background-color: #007AFF;
}

#about2{
  background-color: #FF9500;
}

#about3{
  background-color: #FF3B30;
}

.about-content{
  padding: 20px;
}

.about-content h3{
  margin-top: 60px;
  font-size: 42px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
}

.about-content p{
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 40px;
}

.about-item{
  padding: 40px;
  text-align: center;
  margin-bottom: 25px;
  width: 100%;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.9);
}

.about-icon{
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-icon img{
  max-height: 60px;
}

.about-item h5{
  font-weight: 700;
  color: rgba(255, 255, 255, 0.85);
}

/*--------------------------------------------------------------
# Resource
--------------------------------------------------------------*/
.resource-item{
  background-color: #fff;
  margin-bottom: 35px;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.9);
}

.resource-img{
}

.resource-img:hover{
}

.resource-icon{
  margin: -30px 20px 0;
  position: relative;
  z-index: 1;
}

.resource-icon a{
  width: 60px;
  height: 60px;
  background-color: #fd990c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #fff;
  border-radius: 50%;
}

.resource-content{
  padding: 20px;
}

.resource-content h3{
  font-weight: 700;
  font-size: 24px;
}

.resource-content p{
  font-size: 18px;
  line-height: 28px;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.myservices{
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.9);
}

.service-item{
}

.service-img{
  padding: 0 0;
}

.service-content{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  transition: all 0.5s ease;
}

.service-content:hover{
  background-color: #fd990c;
  color: #fff;
}

.service-content h5{
  font-weight: 700;
  margin-bottom: 10px;
}

.service-content p{
  font-size: 18px;
  line-height: 28px;
}

.service-btn{
  text-align: center;
  padding-top: 60px;
}

/*--------------------------------------------------------------
# Insurance
--------------------------------------------------------------*/
.insurance-box{
  background-color: #fff;
  height: 120px;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px 15px;
}

.insurance-box img{
  max-height: 80px;
}

@media(max-width: 767px){
  .insurance-bg{
    margin-bottom: 20px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .insurance-bg{
    margin-bottom: 25px;
  }
}

/*--------------------------------------------------------------
# Recent Blogs
--------------------------------------------------------------*/
.recentblogs-carousel.owl-carousel .owl-dots {
  text-align: center;
  background-color: black;
}
.recentblogs-carousel.owl-carousel .owl-dots button {
  width: 14px;
  height: 14px;
  border: 2px solid #B6E3E3;
  border-radius: 50%;
  margin-right: 10px;
}
.recentblogs-carousel.owl-carousel .owl-dots button.owl-dot.active {
  background: #fd990c;
  border-color: #fd990c;
}
.recentblogs-carousel.owl-carousel .owl-dots button:last-child {
  margin-right: 0;
}
.recentblogs-carousel .col-lg-4 {
  max-width: 100%;
}
.recentblogs-carousel .owl-stage-outer {
  padding-bottom: 45px;
  padding-top: 20px;
}



.recentblogs-carousel .recentblogs-item {
  /*box-shadow: 0 4px 15px 5px rgba(44, 44, 44, 0.5);*/
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.9);
  background: #ffffff;
}
.recentblogs-carousel .recentblogs-item .recentblogs-img {
  height: 220px;
  position: relative;
}
.recentblogs-carousel .recentblogs-item .recentblogs-img .pic-tag {
  overflow: hidden;
  padding: 15px 15px 0 15px;
}
.recentblogs-carousel .recentblogs-item .recentblogs-img .pic-tag .f-text {
  font-size: 10px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #E1481F;
  display: inline-block;
  padding: 4px 15px;
  float: left;
}
.recentblogs-carousel .recentblogs-item .recentblogs-img .pic-tag .s-text {
  font-size: 10px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #fd990c;
  display: inline-block;
  padding: 4px 15px;
  float: right;
}
.recentblogs-carousel .recentblogs-item .recentblogs-img .feature-author {
  position: absolute;
  left: 15px;
  bottom: 10px;
}
.recentblogs-carousel .recentblogs-item .recentblogs-img .feature-author .fa-pic {
  float: left;
  margin-right: 10px;
}
.recentblogs-carousel .recentblogs-item .recentblogs-img .feature-author .fa-pic img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}
.recentblogs-carousel .recentblogs-item .recentblogs-img .feature-author .fa-text {
  overflow: hidden;
  display: inline-block;
}
.recentblogs-carousel .recentblogs-item .recentblogs-img .feature-author .fa-text span {
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  line-height: 35px;
}
.recentblogs-carousel .recentblogs-item .recentblogs-content .inside-text {
  padding: 25px 20px;
  min-height: 225px;
}
.recentblogs-carousel .recentblogs-item .recentblogs-content .inside-text h4 {
  font-size: 22px;
  color: #19191a;
  font-weight: 600;
  margin-bottom: 8px;
}
.recentblogs-carousel .recentblogs-item .recentblogs-content .inside-text p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 0;
}
.recentblogs-carousel .recentblogs-item .recentblogs-content .room-features {
  text-align: center;
  background: #1c1c1c;
  padding: 12px 0;
}
.recentblogs-carousel .recentblogs-item .recentblogs-content .room-features li {
  list-style: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 38px;
}
.recentblogs-carousel .recentblogs-item .recentblogs-content .room-features li:last-child {
  margin-right: 0;
}
.recentblogs-carousel .recentblogs-item .recentblogs-content .room-features li i {
  color: #fd990c;
  margin-right: 4px;
  display: inline-block;
}
.recentblogs-carousel .recentblogs-item .recentblogs-content .room-features li p {
  color: #ffffff;
  display: inline-block;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Doctors
--------------------------------------------------------------*/
.team-item{
  position: relative;
  margin-bottom: 35px;
  overflow: hidden;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.9);
}

.team-img{}

.team-social{
  position: absolute;
  left: calc(50% - 65px);
  right: calc(50% - 65px);
  top: -100%;
  transition: all 0.5s ease-in;
}

.team-item:hover .team-social{
  top: 0;
}

.team-social a{
  background-color: #fd990c;
  color: #fff;
  padding: 10px;
  margin: 0 0;
  width: 40px !important;
  height: 40px !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.team-content{
  background-color: #fd990c;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: absolute;
  left: -100%;
  bottom: 10%;
  border-radius: 10px;
  transition: all 0.5s ease-in;
}

.team-item:hover .team-content{
  left: 10%;
  right: 10%;
}

.team-content h5{
  font-weight: 700;
}

.team-content span{
  font-style: italic;
}