@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap');

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  /*font-family: "Montserrat", sans-serif;*/
  /*font-family: "Muli", sans-serif;*/
  font-family: 'Baloo Bhaijaan 2', cursive;
  color: #000;
}

a,a:hover{
  text-decoration: none;
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
.hero_area {
  background-color: #fd990c;
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link img {
  width: 22px;
  margin-right: 15px;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px 25px;
  color: #fefeff;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 18px;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  margin: 0 40px 0 15px;
  background-position: center;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 40px;
  margin-right: 5px;
}

.navbar-brand span {
  font-family: "Righteous", cursive;
  font-size: 24px;
  font-weight: 500;
  color: #fefeff;
  margin-top: 5px;
}

.quote_btn-container a {
  display: inline-block;
  padding: 5px 15px;
  background-color: #fc5d35;
  color: #f7f7f7;
  font-size: 14px;
  text-transform: uppercase;
}

.layout_padding {
  padding: 75px 0;
}

.custom_menu-btn {
  z-index: 9;
  position: absolute;
  right: 0;
  top: 14px;
}

.custom_menu-btn button {
  margin-top: 12px;
  outline: none;
  border: none;
  background-color: transparent;
}

.custom_menu-btn button span {
  display: block;
  width: 40px;
  height: 4px;
  background-color: #fff;
  margin: 7px 0;
  transition: all 0.3s;
  border-radius: 5px;
}

.custom_menu-btn .s-2 {
  width: 23px;
  margin-left: auto;
}

.custom_menu-btn .s-2 {
  transition: all 0.1s;
}

.menu_btn-style {
  position: fixed;
  right: 12px;
  top: 14px;
}

.menu_btn-style button .s-1 {
  transform: rotate(45deg) translateY(17px);
}

.menu_btn-style button .s-2 {
  transform: translateX(100px);
}

.menu_btn-style button .s-3 {
  transform: rotate(-45deg) translateY(-17px);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(40, 1, 185, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 60px;
}

.overlay a {
  padding: 0px;
  text-decoration: none;
  font-size: 22px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menu_width {
  width: 100%;
}

/*--------------------------------------------------------------
# Hero Slider
--------------------------------------------------------------*/
.slider_section {
  padding-top: 75px;
}

.slider_item-box {
  width: 100%;
  height: 100%;
}

.slider_item-box .container {
  height: 100%;
}

.slider_img-box {
  width: 85%;
  margin: 0 auto;
}

.slider_img-box img {
  width: 100%;
}

.slider_item-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider_item-detail {
  text-align: center;
  color: #fff;
}

.slider_item-detail h1 {
  font-weight: 600;
}

.slider_item-detail p {
  margin: 40px 0 45px 0;
}

.slider_item-detail a {
  display: inline-block;
  background-color: #fddd33;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px 40px;
}

.slider_item-imgbox {
  margin-top: 45px;
  width: 75%;
}

.slider_item-imgbox img {
  width: 100%;
}

.slider_section #carouselExampleControls,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.slider_section .carousel-control-prev,
.slider_section .carousel-control-next {
  position: absolute;
  top: 50%;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: center;
  background-color: #fff;
  transform: translateY(-50%);
}

.slider_section .carousel-control-prev:hover,
.slider_section .carousel-control-next:hover {
  background-color: #292727;
  background-size: 12px;
}

.slider_section .carousel-control-prev {
  left: 2%;
  background-image: url(../images/left-black-arrow.png);
}

.slider_section .carousel-control-next {
  right: 2%;
  background-image: url(../images/right-black-arrow.png);
}

.slider_section .carousel-control-prev:hover {
  background-image: url(../images/prev.png);
}

.slider_section .carousel-control-next:hover {
  background-image: url(../images/next.png);
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 80px 0;
}

.section-bg {
  background-color: #f2f9f8 /*#f2f9f8*/;
}

/*--------------------------------------------------------------
# My Title
--------------------------------------------------------------*/
.mytitle{
  margin-bottom: 80px;
}

.title-left{
  background-color: #fd990c;
  text-align: right;
  padding: 15px 30px 10px;
}

.title-left h6{
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1.3px;
  word-spacing: 5px;
  text-transform: uppercase;
}

.title-right{
  background-color: #fd990c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-right a{
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
}

/*--------------------------------------------------------------
# Strips
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Template btn
--------------------------------------------------------------*/
.template-btn{
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  position: relative;
  border-radius: 30px;
  transition: 0.5s;
  line-height: 1;
  letter-spacing: 1px;
  display: inline-block;
  color: #fff;
  background: #fd990c;
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px 30px;
  border: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

.template-btn span{
  color: #fff;
  position: relative;
  z-index: 10;
}

.template-btn::after{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  background: red;
  z-index: 0;
  content: '';
  transition: all 400ms cubic-bezier(.33,.68,.59,.99);
  border-radius: 30px;
}

.template-btn:hover::after{
  width: 100%;
  color: #fff !important;
}

.template-btn:hover span{
  color: #fff;
}

/*--------------------------------------------------------------
# Tooltip
--------------------------------------------------------------*/
.bs-tooltip-auto[x-placement^=bottom] .arrow::before, 
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #052c3f !important;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before, 
.bs-tooltip-top .arrow::before {
    border-top-color: #052c3f !important;
}

.tooltip-inner {
    border-radius: 10px;
    background-color: #052c3f;
    font-size: 20px;
    padding: 15px;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about1{
  background-color: #007AFF;
}

#about2{
  background-color: #FF9500;
}

#about3{
  background-color: #FF3B30;
}

.about-content{
  padding: 20px;
}

.about-content h6{
  margin-top: 50px;
}

.about-content h6 span{
  font-style: italic;
  background-color: red;
  padding: 3px 14px;
  color: #fff;
  border-radius: 10px;
}

.about-content h3{
  margin-top: 15px;
  font-size: 42px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
}

.about-content p{
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 40px;
}

.about-item{
  padding: 40px;
  text-align: center;
  margin-bottom: 25px;
  width: 100%;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.9);
}

.about-icon{
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-icon img{
  max-height: 60px;
}

.about-item h5{
  font-weight: 700;
  color: rgba(255, 255, 255, 0.85);
}

/*--------------------------------------------------------------
# Resource
--------------------------------------------------------------*/
.resource-item{
  background-color: #fff;
  margin-bottom: 35px;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.9);
}

.resource-img{
}

.resource-img:hover{
}

.resource-icon{
  margin: -30px 20px 0;
  position: relative;
  z-index: 1;
}

.resource-icon a{
  width: 60px;
  height: 60px;
  background-color: #fd990c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #fff;
  border-radius: 50%;
}

.resource-content{
  padding: 20px;
}

.resource-content h3{
  font-weight: 700;
  font-size: 24px;
}

.resource-content p{
  font-size: 18px;
  line-height: 28px;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.myservices{
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.9);
}

.service-item{
}

.service-img{
  padding: 0 0;
}

.service-content{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  transition: all 0.5s ease;
}

.service-content:hover{
  background-color: #fd990c;
  color: #fff;
}

.service-content h5{
  font-weight: 700;
  margin-bottom: 10px;
}

.service-content p{
  font-size: 18px;
  line-height: 28px;
}

.service-btn{
  text-align: center;
  padding-top: 60px;
}

/*--------------------------------------------------------------
# Insurance
--------------------------------------------------------------*/
.insurance-box{
  background-color: #fff;
  height: 120px;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px 15px;
}

.insurance-box img{
  max-height: 80px;
}

@media(max-width: 767px){
  .insurance-bg{
    margin-bottom: 20px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .insurance-bg{
    margin-bottom: 25px;
  }
}

/*--------------------------------------------------------------
# Recent Blogs
--------------------------------------------------------------*/
.recentblogs-carousel.owl-carousel .owl-dots {
  text-align: center;
  background-color: black;
}
.recentblogs-carousel.owl-carousel .owl-dots button {
  width: 14px;
  height: 14px;
  border: 2px solid #B6E3E3;
  border-radius: 50%;
  margin-right: 10px;
}
.recentblogs-carousel.owl-carousel .owl-dots button.owl-dot.active {
  background: #fd990c;
  border-color: #fd990c;
}
.recentblogs-carousel.owl-carousel .owl-dots button:last-child {
  margin-right: 0;
}
.recentblogs-carousel .col-lg-4 {
  max-width: 100%;
}
.recentblogs-carousel .owl-stage-outer {
  padding-bottom: 45px;
  padding-top: 20px;
}



.recentblogs-carousel .recentblogs-item {
  /*box-shadow: 0 4px 15px 5px rgba(44, 44, 44, 0.5);*/
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.9);
  background: #ffffff;
}
.recentblogs-carousel .recentblogs-item .recentblogs-img {
  height: 220px;
  position: relative;
}
.recentblogs-carousel .recentblogs-item .recentblogs-img .pic-tag {
  overflow: hidden;
  padding: 15px 15px 0 15px;
}
.recentblogs-carousel .recentblogs-item .recentblogs-img .pic-tag .f-text {
  font-size: 10px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #E1481F;
  display: inline-block;
  padding: 4px 15px;
  float: left;
}
.recentblogs-carousel .recentblogs-item .recentblogs-img .pic-tag .s-text {
  font-size: 10px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #fd990c;
  display: inline-block;
  padding: 4px 15px;
  float: right;
}
.recentblogs-carousel .recentblogs-item .recentblogs-img .feature-author {
  position: absolute;
  left: 15px;
  bottom: 10px;
}
.recentblogs-carousel .recentblogs-item .recentblogs-img .feature-author .fa-pic {
  float: left;
  margin-right: 10px;
}
.recentblogs-carousel .recentblogs-item .recentblogs-img .feature-author .fa-pic img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}
.recentblogs-carousel .recentblogs-item .recentblogs-img .feature-author .fa-text {
  overflow: hidden;
  display: inline-block;
}
.recentblogs-carousel .recentblogs-item .recentblogs-img .feature-author .fa-text span {
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  line-height: 35px;
}
.recentblogs-carousel .recentblogs-item .recentblogs-content .inside-text {
  padding: 25px 20px;
  min-height: 225px;
}
.recentblogs-carousel .recentblogs-item .recentblogs-content .inside-text h4 {
  font-size: 22px;
  color: #19191a;
  font-weight: 600;
  margin-bottom: 8px;
}
.recentblogs-carousel .recentblogs-item .recentblogs-content .inside-text p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 0;
}
.recentblogs-carousel .recentblogs-item .recentblogs-content .room-features {
  text-align: center;
  background: #1c1c1c;
  padding: 12px 0;
}
.recentblogs-carousel .recentblogs-item .recentblogs-content .room-features li {
  list-style: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 38px;
}
.recentblogs-carousel .recentblogs-item .recentblogs-content .room-features li:last-child {
  margin-right: 0;
}
.recentblogs-carousel .recentblogs-item .recentblogs-content .room-features li i {
  color: #fd990c;
  margin-right: 4px;
  display: inline-block;
}
.recentblogs-carousel .recentblogs-item .recentblogs-content .room-features li p {
  color: #ffffff;
  display: inline-block;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Doctors
--------------------------------------------------------------*/
.team-item{
  position: relative;
  margin-bottom: 35px;
  overflow: hidden;
  border-bottom: 3px solid #fd990c;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.9);
}

.team-img{}

.team-social{
  position: absolute;
  left: calc(50% - 65px);
  right: calc(50% - 65px);
  top: -100%;
  transition: all 0.5s ease-in;
}

.team-item:hover .team-social{
  top: 0;
}

.team-social a{
  background-color: #fd990c;
  color: #fff;
  padding: 10px;
  margin: 0 0;
  width: 40px !important;
  height: 40px !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.team-content{
  background-color: #fff;
  text-align: center;
  padding: 20px;
  position: absolute;
  left: -100%;
  bottom: 10%;
  border-radius: 10px;
  transition: all 0.5s ease-in;
}

.team-item:hover .team-content{
  left: 10%;
  right: 10%;
}

.team-content h5{
  font-weight: 700;
}

.team-content span{
  font-style: italic;
}

.facebook-bg{
  background:#3b5998 !important;
  color: #fff;
}

.twitter-bg{
  background: #1da1f2 !important;
  color: #fff;
}

.instagram-bg{
  background: #bb1500 !important;
  color: #fff;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact1{
  background-color: #007AFF;
}

#contact2{
  background-color: #FF9500;
}

#contact3{
  background-color: #FF3B30;
}

#contact4{
  background-color: #007AFF;
}

.contact-item{
  text-align: center;
  padding: 25px;
}

.contact-icon{
  width: 110px;
  height: 110px;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.contact-icon img{
  max-height: 70px;
}

.contact-content{
  padding-top: 20px;
}

.contact-content h5{
  font-weight: 600;
  color: #fff;
}

.contact-content p{
  color: #fff;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.info_section {
  position: relative;
  background-color: #161616;
  font-family: "Poppins", sans-serif;
}

.info_section img {
  width: 100%;
}

.info_section ul {
  padding: 0;
}

.info_section ul li {
  list-style-type: none;
  margin: 10px 0;
}

.info_section ul li a,
.info_section ul li a:hover {
  color: #fff;
}

.info_section h5 {
  margin-bottom: 12px;
  font-size: 22px;
  color: #fff;
  border-bottom: 2px solid #feb543;
}

.info_section .social-box {
  margin: 25px 0;
}

.info_section .social-box img {
  width: 35px;
  margin-right: 5px;
}

.form_container form {
  display: flex;
  align-items: center;
}

.info_section .form_container label {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.info_section .form_container input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 15px;
  background-color: #fff;
  margin-left: 45px;
  margin-right: 10px;
}

.info_section .form_container button {
  background-color: #d9c406;
  border: none;
  outline: none;
  color: #fff;
  padding: 8px 50px;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 5px;
  text-transform: uppercase;
}

.footer_section {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  padding: 25px 20px;
}

.footer_section p {
  color: #292929;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #292929;
}