.box_btn {
  text-decoration: none;
  color: #333;
  -webkit-transition: .4s;
  transition: .4s;
}
.blog-img {
  position: relative;
}
.blog-img img {
  width: 100%;
  min-height: 300px !important;
}
.box_btn {
  display: inline-block;
  background-color: #FF7200;
  color: #fff;
  font-size: 15px;
  padding: 5px 20px;
}

.box_btn:hover
{
  color: white;
  text-decoration: none;
}
.single-blog:hover img {
  opacity: .85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"
}
.post-category {
  position: absolute;
  left: 0;
  bottom: 0;
}
.blog-content {
  padding: 30px 20px;
}
.single-blog {
  border: 1px solid #eee;
}
.blog-title h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
.meta ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.meta {
  margin-bottom: 20px;
  opacity: .85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}
.box_btn {
  display: inline-block;
  background-color: #FF7062 !important;
  padding: 5px 15px;
  color: #fff;
  text-transform: capitalize;
  margin-top: 20px;
}
.dateLine
{
  border-top: 1px solid darkgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid darkgrey;
  color: darkgrey;
}
.blog-desc-img
{
  width: 100%;
  height: 400px;
  margin-bottom: 15px;
}

.blog-description
{
  text-align: justify; /* For Edge */
  -moz-text-align-last: justify; /* For Firefox prior 58.0 */
  text-align-last: justify;
}

.pagination
{
  justify-content: center !important;
}

.list-unstyled li a
{
  text-decoration: none;
  color: white !important;

}
.list-unstyled li
{
  margin-bottom: 10px;
}

.well
{
  background-color: #F5F5F5;
  padding:30px;
  border-radius: 10px;
  color: black;
  margin-bottom: 20px;
}
.well h4
{
  color: #FF7062;
  margin-bottom: 14px;
}
.badge-info
{
  color: #43B3AE;
  color: white;
  padding: 5px;
}
.blog-names
{
  color: black !important;
}

