@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,500i,700,700i,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,500i,700,700i,900&display=swap");


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family:'Rubik', sans-serif;
  color: #444444;
  transition: 0.4s;
  margin-left: 80px;
}

.body-active{
  margin-left: 240px;
}

a {
  color: #F38181;
}

a:hover {
  color: #ff8f4c;
  text-decoration: none;
}

main{
  padding: 0 15px;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
.preloader {
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    top: 0;
    left: 0;
}

.preloader .preloader-img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -70px;
    margin-top: -70px;
}

.preloader .preloader-img img{
  max-height: 150px;
  border-radius: 50%;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  padding: 20px 0;
  z-index: 10;
  position: relative;
  background-color: #F38181;
  display: none;
}

#header.header-scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  margin-right: 30px;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 3px;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (max-width: 768px) {
  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.nav-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: scroll;
  left: 0;
  width: 80px;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.4s;
}

.nav-menu::-webkit-scrollbar{
  width: 0;
}

.nav-menu-active {
  left: 0;
  width: 240px !important;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu a {
  height: 10vh;
  display: block;
  position: relative;
  color: #ffd2b7;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-menu a span{
  display: none;
}

.nav-menu-active a span{
  display: inline-block;
}

.nav-menu-active a img{
  display: none;
}

.nav-menu a img{
  max-height: 40px;
  margin-right: 10px;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #F38181;
  text-decoration: none;
}

.nav-menu .drop-down > a:after {
  content: "\e9ac";
  font-family: "boxicons";
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.nav-menu .active.drop-down > a:after {
  content: "\e9ac";
}

.nav-menu .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down ul {
  display: none;
  overflow: hidden;
}

.nav-menu .drop-down li {
  padding-left: 20px;
}

.nav-toggle {
  /*position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;*/
  border: 0;
  /*background: rgba(34, 34, 34, 0.5);*/
  background: transparent;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  border-radius: 2px;
}

.nav-toggle i {
  color: #fff;
  font-size: 36px;
}

.nav-toggle-active {
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/services/image1.jpg") center center;
  background-size: cover;
  position: relative;
  z-index: 9;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  line-height: 56px;
  color: #222;
}

#hero h2 {
  color: #333;
  margin-bottom: 30px;
  font-size: 24px;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 80px 0;
}

.section-bg {
  background-color: #fff7f2 /*#fff7f2*/;
}

.section-title{
  margin-bottom: 70px;
}

.section-icon{
  width: 80px;
  height: 80px;
  border: 1px solid #F38181;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  float: left;
  transition: all 0.5s ease-in-out;
}

.section-icon img{
  max-height: 50px;
  transition: all 0.5s ease-in-out;
}

.section-title h2{
  text-transform: uppercase;
  letter-spacing: 1.3px;
  word-spacing: 6px;
  font-weight: 700;
}

.section-title p{
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0;
  font-weight: 400;
  text-transform: capitalize;
}

/*--------------------------------------------------------------
# Strips
--------------------------------------------------------------*/
.strips{
  padding: 0 0;
}

.strip-container{}

.strip-content{
  background-color: #fff;
  border: 8px solid #F38181;
  text-align: center;
  padding: 20px 15px 15px;
}

.strip-content h3{
  color: #F38181;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-content h3 {
  font-weight: 700;
}

.about-content p {
  font-size: 20px;
  line-height: 30px;
}

.about-item{
  margin-bottom: 25px;
}

.about-icon{
  width: 80px;
  height: 80px;
  border: 2px solid #F38181;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  float: left;
  margin-right: 15px;
  margin-top: 15px;
}

.about-icon img{
  max-height: 40px;
}

.about-item h4{
  font-weight: 700;
}

.about-item p{
  font-size: 18px;
  line-height: 28px;
}

/*--------------------------------------------------------------
# Social Media
--------------------------------------------------------------*/
.social-block{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  transition: all 0.5s ease-in-out;
}

.social-block:hover{
  border: 3px dashed #F38181;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Resources
--------------------------------------------------------------*/
.resource-item {
  padding: 65px 0 40px;
  margin-bottom: 35px;
  color: #fff;
  background: #26264b;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.9);
  border: 0px solid #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.resource-item span {
  font-size: 13px;
  text-transform: uppercase;
  padding: 6px 15px;
  border-radius: 15px;
  background-color: transparent;
  position: absolute;
  top: 22px;
  right: 6px;
  transition: all 0.2s ease-in-out;
}

.resource-item h3 {
  font-size: 24px;
}

.resource-item .resource-icon{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  margin: 30px auto 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resource-item .resource-icon img{
  max-height: 70px;
}

.resource-item p {
  color: #ddd;
}

.resource-item p:last-of-type {
  margin-bottom: 25px;
}

.resource-item svg {
  width: 140px;
  position: absolute;
  top: -45px;
  right: -60px;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.resource-item svg path{
  fill: #F38181;
  fill-rule: evenodd;
}

.resource-item:hover {
  border: 4px solid #fff;
  box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.16);
}

.resource-item:hover span {
  background-color: #26264b;
}

.resource-item:hover svg {
  width: 500%;
  top: -200%;
  right: -50%;
}

.resource-item:hover .template-btn {
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
}

/*--------------------------------------------------------------
# Template Btn
--------------------------------------------------------------*/
.template-btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.6875rem 3.5625rem;
  font-size: 1.125rem;
  line-height: 1.5;
  border-top-right-radius: 1.5625rem;
  border-bottom-left-radius: 1.5625rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  color: #fff;
  background-color: #F38181;
  border-color: #F38181;
}

.template-btn:hover {
  color: #fff !important;
  background-color: #F38181;
  border-color: #c20e0e;
  text-decoration: none;
}

.template-btn::after {
  content: "";
  width: calc(100% + 2px);
  height: 100%;
  background-color: rgba(24, 9, 53, 0.77);
  border-top-right-radius: 1.5625rem;
  border-bottom-left-radius: 1.5625rem;
  position: absolute;
  top: 0;
  left: -1px;
  border: 1px solid transparent;
  z-index: -1;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.template-btn:hover::after {
  top: -6px;
  opacity: 1;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .nav-tabs {
  border: 0;
}

.services .nav-link{
  border: 2px solid #F38181;
  background-color: #F38181;
  color: #fff;
  padding: 10px 15px;
  margin-right: 10px;
}

.services .nav-link:hover,
.services .nav-link.active {
  border: 2px solid #F38181;
  background-color: #fff;
  color: #F38181;
}

.services .tab-content {}

.service-item{
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.9);
  transition: all 0.5s ease-in;
}

.service-img{}

.service-content{
  position: absolute;
  top: 48%;
  left: 15%;
  right: 15%;
  background-color: #fff;
  padding: 15px;
  text-align: center;
  transition: all 0.5s ease-in;
}

.service-icon{
  width: 120px;
  height: 120px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid #F38181;
  padding: 20px;
  margin: 0 auto 25px;
  transition: all 0.5s ease-in;
}

.service-icon img{
  max-height: 80px;
}

.service-content h4{
  font-weight: 700;
}

.service-content p{
  display: none;
  transition: all 0.5s ease-in;
}

.service-item:hover .service-content{
  padding: 20px;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  border: 5px solid #F38181;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service-item:hover .service-icon{
  display: flex;
}

.service-item:hover .service-content p{
  display: block;
}

/*--------------------------------------------------------------
# Recent Blogs
--------------------------------------------------------------*/
.recentblogs-item{
  background-color: #fff;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.9);
}

.recentblogs-img{
  padding-left: 0;
}

.recentblogs-content{
  padding: 25px 20px 20px 10px;
}

.recentblogs-content h4{
  font-weight: 700;
}

.recentblogs-block{
  margin-bottom: 30px;
  margin-left: 15px;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.9);
}

.recentblogs-right{
  transition: all 5s;
}

.recentblogs-right:hover{
}

/*--------------------------------------------------------------
# Doctors
--------------------------------------------------------------*/
.doctor-item{
  background-color: #fff;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.9);
  margin-bottom: 35px;
}

.doctor-icon{
  padding-left: 0;
}

.doctor-content{
  padding: 15px;
}

.doctor-content h4{
  font-weight: 700;
}

.doctor-content span{
  font-style: italic;
}

.doctor-social{
  margin-top: 20px;
  display: flex;
}

.doctor-social a{
  width: 50px !important;
  height: 50px !important;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.doctor-social a img{
  max-height: 15px;
}

/*--------------------------------------------------------------
# Faqs
--------------------------------------------------------------*/
.accordion {
  display: grid;
  grid-gap: 15px;
}

.faq-item {
  background-color: #fff;
  display: block;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.faq-item:not(:last-child) {
  border-bottom: 1px solid #fafafa;
}

.faq-heading {
  font-size: 16px;
  line-height: 1.5;
  transition: all 0.5s ease-in-out;
  position: relative;
  padding-right: 30px;
  font-weight: 700;
}

.faq-heading img{
  max-height: 25px;
  margin-right: 10px;
}

.faq-heading::after, .faq-heading::before {
  content: "";
  width: 16px;
  height: 3px;
  background-color: #21368b;
  position: absolute;
  right: 0;
  top: 8px;
  transition: all 0.5s ease-in-out;
}
.faq-heading::after {
  transform: rotate(90deg);
}

.faq-desc {
  transform: translateY(50%);
  color: #999;
  font-size: 16px;
  line-height: 1.5;
  max-height: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.faq-item [type=checkbox], .faq-item [type=radio] {
  display: none;
}
.faq-item [type=radio]:checked + .faq-heading, .faq-item [type=checkbox]:checked + .faq-heading {
  margin-bottom: 10px;
  font-size: 22px;
}
.faq-item [type=radio]:checked + .faq-heading::after, .faq-item [type=checkbox]:checked + .faq-heading::after {
  transform: rotate(45deg);
}
.faq-item [type=radio]:checked + .faq-heading::before, .faq-item [type=checkbox]:checked + .faq-heading::before {
  transform: rotate(-45deg);
}
.faq-item [type=radio]:checked + .faq-heading + .faq-desc, .faq-item [type=checkbox]:checked + .faq-heading + .faq-desc {
  transform: translateY(0);
  max-height: none;
  opacity: 1;
  color: #4c4848;
  font-weight: 500;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonial-item{
  width: 60%;
  margin: 0 auto;
}

.testimonial-author{
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #F38181;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.9);
  color: #fff;
}

.testimonial-author img{
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}

.testimonial-content{
  display: flex;
  padding: 40px 20px 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.9);
  border: 5px solid #F38181;
}

.testimonial-content p{
  font-size: 20px;
  line-height: 30px;
  height: 120px !important;
  overflow-y: scroll;
}

.testimonial-content p::-webkit-scrollbar{
  width: 0;
}

.quote-left,
.quote-right{
  height: 80px !important;
  width: 80px !important;
}

.quote-left img,
.quote-right img{
  max-height: 30px !important;
  width: 30px !important;
}

.owl-item {
  float: left;
}

.testimonial-carousel{
  overflow: hidden;
  position: relative;
}

.testimonial-carousel .owl-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.testimonial-carousel .owl-nav .owl-prev{
  margin-right: 15px;
  position: absolute;
  left: 40px;
  bottom: 50%;
}

.testimonial-carousel .owl-nav .owl-next{
  position: absolute;
  right: 40px;
  bottom: 50%;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next{
  background-color: #F38181;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #2f1708;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
