@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,500i,700,700i,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,500i,700,700i,900&display=swap");

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family:'Rubik', sans-serif;
  color: #444444;
  transition: 0.4s;
  margin-left: 0;
}

.body-active{
  margin-left: 260px;
}

a {
  color: #F38181;
}

a:hover {
  color: #ff8f4c;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
.preloader {
    background-color: #222;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    top: 0;
    left: 0;
}

.preloader .preloader-img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -70px;
    margin-top: -70px;
}

.preloader .preloader-img img{
  max-height: 150px;
  border-radius: 50%;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  padding: 20px 0;
  z-index: 10;
  position: relative;
  background-color: #F38181;
}

#header.header-scrolled {
  position: fixed;
  top: 0;
  width: 100%;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  margin-right: 30px;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 3px;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (max-width: 768px) {
  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.nav-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.4s;
}

.nav-menu-active {
  left: 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #ffd2b7;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #F38181;
  text-decoration: none;
}

.nav-menu .drop-down > a:after {
  content: "\e9ac";
  font-family: "boxicons";
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.nav-menu .active.drop-down > a:after {
  content: "\e9ac";
}

.nav-menu .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down ul {
  display: none;
  overflow: hidden;
}

.nav-menu .drop-down li {
  padding-left: 20px;
}

.nav-toggle {
  /*position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;*/
  border: 0;
  /*background: rgba(34, 34, 34, 0.5);*/
  background: transparent;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  border-radius: 2px;
}

.nav-toggle i {
  color: #fff;
  font-size: 36px;
}

.nav-toggle-active {
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") center center;
  background-size: cover;
  position: relative;
  margin-top: -80px;
  z-index: 9;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  line-height: 56px;
  color: #222;
}

#hero h2 {
  color: #333;
  margin-bottom: 30px;
  font-size: 24px;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 80px 0;
}

.section-bg {
  background-color: #ccc /*#fff7f2*/;
}

.section-title{
  margin-bottom: 70px;
}

.section-icon{
  width: 80px;
  height: 80px;
  border: 1px dashed #F38181;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  float: left;
  transition: all 0.5s ease-in-out;
}

.section-icon img{
  max-height: 50px;
  transition: all 0.5s ease-in-out;
}

.section-title h2{
  text-transform: uppercase;
  letter-spacing: 1.3px;
  word-spacing: 6px;
  font-weight: 700;
}

.section-title p{
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0;
  font-weight: 400;
  text-transform: capitalize;
}

/*--------------------------------------------------------------
# Strips
--------------------------------------------------------------*/
.strips{
  padding: 0 0;
}

.strip-container{}

.strip-content{
  background-color: #fff;
  border: 5px dashed #F38181;
  padding: 20px;
  text-align: center;
}

.strip-content h3{
  font-weight: 700;
  color: #F38181;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-content h3 {
  font-weight: 700;
}

.about-content p {
  font-size: 20px;
  line-height: 30px;
}

.about-item{
  margin-bottom: 25px;
}

.about-icon{
  width: 80px;
  height: 80px;
  border: 2px solid #F38181;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
  margin-top: 15px;
}

.about-icon img{
  max-height: 40px;
}

.about-item h4{
  font-weight: 700;
}

.about-item p{
  font-size: 18px;
  line-height: 28px;
}

/*--------------------------------------------------------------
# Resources
--------------------------------------------------------------*/
.resource-item{
  background-color: #fff;
  margin-bottom: 35px;
  width: 98%;
}

.resource-icon{
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resource-icon img{
  max-height: 90px;
}

.resource-content{
  padding: 20px;
}

.resource-content h4{
  font-weight: 700;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.service-item{
  position: relative;
  margin-bottom: 30px;
  transition: all 0.5s ease-in;
}

.service-img{}

.service-content{
  position: absolute;
  top: 0;
  left: 15%;
  right: 15%;
  background-color: #fff;
  padding: 15px;
  text-align: center;
  transition: all 0.5s ease-in;
}

.service-icon{
  width: 120px;
  height: 120px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid #F38181;
  padding: 20px;
  margin: 0 auto 25px;
  transition: all 0.5s ease-in;
}

.service-icon img{
  max-height: 80px;
}

.service-content h4{
  font-weight: 700;
}

.service-content p{
  display: none;
  transition: all 0.5s ease-in;
}

.service-item:hover .service-content{
  padding: 20px;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}

.service-item:hover .service-icon{
  display: flex;
}

.service-item:hover .service-content p{
  display: block;
}

/*--------------------------------------------------------------
# Doctors
--------------------------------------------------------------*/
.doctor-item{
  background-color: #fff;
}

.doctor-icon{}

.doctor-content{
  padding: 20px;
}

.doctor-content h4{
  font-weight: 700;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #2f1708;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
