@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i&display=swap");

html,
body {
	height: 100%;
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
}

body {
	padding-left: 90px;
}

@media (max-width: 420px) {
	body {
		padding-left: 60px;
	}
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  opacity: 0;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 10px;
  bottom: 15px;
  background: #fd645b;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
  animation: backtop 2s linear infinite;
}

.back-to-top.showbacktop{
  opacity: 1;
}

@keyframes backtop {
  0% {
    transform: scale(1.1) translateY(0);
  }
  20% {
    transform: scale(1.1) translateY(-10px);
  }
  30% {
    transform: scale(1.1) translateY(10px);
  }
  50% {
    transform: scale(1.1) translateY(-10px);
  }
  60% {
    transform: scale(1.1) translateY(10px);
  }
  100% {
    transform: scale(1.1) translateY(0);
  }
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #6A6A6A;
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.menu-wrapper {
  position: fixed;
  width: 90px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fd645b;
  -webkit-box-shadow: 14px 0px 103px rgba(0, 0, 0, 0.08);
  box-shadow: 14px 0px 103px rgba(0, 0, 0, 0.08);
  z-index: 999;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 420px) {
  .menu-wrapper {
    width: 60px;
  }
}

.menu-wrapper.hide-left {
  opacity: 0;
  left: -90px;
}

.menu-switch {
  width: 100%;
  height: 90px;
  padding-top: 23px;
  font-size: 30px;
  text-align: center;
  color: #fff;
  background: #0f0f0f;
  cursor: pointer;
}

.menu-social-warp {
  height: calc(100% - 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-social a {
  display: block;
  font-size: 18px;
  color: #fff;
  margin-bottom: 50px;
}

.menu-social a:last-child {
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .menu-social a {
    margin-bottom: 30px;
  }
}

.side-menu-wrapper {
  position: fixed;
  width: 270px;
  height: 100%;
  left: -280px;
  top: 0;
  overflow-y: auto;
  -webkit-box-shadow: 14px 0px 103px rgba(0, 0, 0, 0.08);
  box-shadow: 14px 0px 103px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  z-index: 9999;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 420px) {
  .side-menu-wrapper {
    width: 100%;
    left: -100%;
  }
}

.side-menu-wrapper.active {
  left: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}

.side-menu-wrapper .sm-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-close {
  width: 90px;
  height: 90px;
  padding-top: 23px;
  font-size: 30px;
  text-align: center;
  color: #fff;
  background: #0f0f0f;
  cursor: pointer;
}

.site-logo {
  background: #6A6A6A;
  width: calc(100% - 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-logo h1{
  color: #fff;
  font-size: 28px;
}

.main-menu {
  height: calc(100% - 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-menu ul {
  list-style: none;
  text-align: center;
}

.main-menu ul li {
  display: block;
  margin-bottom: 20px;
}

@media (max-height: 500px),
(max-width: 576px) {
  .main-menu ul li {
    margin-bottom: 5px;
  }
}

.main-menu ul li a {
  display: block;
  font-size: 30px;
  font-weight: 600;
  color: #b2b2b2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (max-height: 500px),
(max-width: 576px) {
  .main-menu ul li a {
    font-size: 20px;
  }
}

.main-menu ul li a:hover,
.main-menu ul li a.active {
  color: #6A6A6A;
}

.sm-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0 15px;
}

@media (max-height: 500px) {
  .sm-footer {
    position: relative;
    padding-top: 30px;
  }
}

.sm-footer .sm-socail a {
  display: inline-block;
  font-size: 18px;
  color: #b2b2b2;
  margin-right: 30px;
  margin-bottom: 10px;
}

.sm-footer .sm-socail a:last-child {
  margin-right: 0;
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
#hero{
  height: 100vh;
}

.hero-content{
  padding: 150px 60px 30px;
  background-color: #fd645b;
  color: rgba(255, 255, 255, 0.8);
}

.hero-content h1{
  font-weight: 800;
  margin-bottom: 25px;
  color: yellow;
}

.hero-content p{
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 25px;
}

.hero-doctor{
  min-height: 160px;
  padding: 20px 50px 20px 0;
}

.hero-doctor img{
  width: 120px !important;
  height: 120px !important;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}

.hero-doctor h5{
  font-weight: 700;
  margin-top: 25px;
}

.hero-doctor span{
  font-style: italic;
}

.hero-img{
  background-color: black;
  height: 100vh;
  padding: 0 0;
}

/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
section{
  padding: 60px 0;
  overflow: hidden;
}

.section-bg{
  background-color: red /*#f2f3f5*/;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.section-title span {
  color: #6A6A6A;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-title h2 {
  font-size: 45px;
  font-weight: 700;
  margin-top: 5px;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-content span{
  color: #6A6A6A;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 20px;
}

.about-content h2{
  font-weight: 700;
}

.about-content p{
  font-size: 20px;
  line-height: 30px;
}

.about-item {
   position: relative;
   z-index: 0; 
   width: 100%;
   margin-bottom: 30px;
   background-color: #fff;
   box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.4);
}

.about-item  p{
  font-size: 18px;
  line-height: 28px;
  padding: 0 10px 15px 15px;
}

.about-item .about-innerbox {
  font-size: 20px;
  margin-bottom: 15px;
  padding: 20px 30px;
  background: #6A6A6A;
  color: #fff;
  border-radius: 4px;
  position: relative;
  display: block;
}

.about-item .about-innerbox .about-btn {
  position: absolute;
  top: 50%;
  right: -25px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #fbd341;
  opacity: 1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}

.about-item .about-innerbox .about-btn span {
  color: #000; 
}

.about-item .about-innerbox:hover {
  background: #6A6A6A;
  color: #fff; 
} 

.about-item .about-innerbox:hover .about-btn {
  background: #fbd341; 
}

.about-item .about-innerbox:hover .about-btn span {
  color: #6A6A6A; 
}

/*--------------------------------------------------------------
# Social Media
--------------------------------------------------------------*/
.social-box{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  transition: 0.8s ease-in-out;
}

.social-box:hover{
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Medical Media
--------------------------------------------------------------*/
.medical-box{
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 105px;
  transition: 0.8s ease-in-out;
}

.medical-box:hover{
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Strips
--------------------------------------------------------------*/
.strips{
  padding: 20px 0;
  background-color: #fd645b;
  position: relative;
  overflow: visible;
}

.strip-content h3{
  color: #fff;
  text-align: center;
  font-weight: 700;
}

.strip-arrow{
  width: 80px;
  height: 80px;
  background-color:#fd645b /*#fd645b*/;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
}

.strip-arrow i{
  color: #fff;
  font-size: 32px;
}

.strips:hover .strip-arrow{
  top: 100%;
  opacity: 1;
}

/*--------------------------------------------------------------
# Resources
--------------------------------------------------------------*/
.resource-item {
  margin-bottom: 30px;
  transition: ease-in all 0.5s;
  border-bottom: 5px solid #6A6A6A;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.4);
}

.resource-item figure {
     margin: 0;
     position: relative;
     overflow: hidden;
}

.resource-item:hover .resource-content {
     height: 180px;
     transition: ease-in all 0.5s;
     padding: 40px 40px;
}

.resource-item:hover .resource-icons {
     margin-top: -65px;
     transition: ease-in all 0.7s;
}

.resource-content {
     cursor: pointer;
     position: absolute;
     transition: ease-in all 0.5s;
     bottom: 0;
     height: 0;
     background: #fff;
     overflow: initial;
}

.resource-icons {
     display: flex;
     transition: ease-in all 0.7s;
     z-index: 99999999999999999999999;
     position: absolute;
}

.resource-icons a {
     background: #fff;
     width: 60px;
     height: 60px;
     border-radius: 50px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #3a404e;
     box-shadow: 3px 0 9px rgba(30, 30, 30, 0.09);
}

.resource-icons a:hover {
     background: #6A6A6A;
     color: #fff;
}

.resource-content h3 {
     color: #0c0c0d;
     font-size: 24px;
     line-height: 30px;
     font-weight: bold;
     padding-bottom: 15px;
}

.resource-content p {
     color: #031330;
     font-size: 17px;
     line-height: 30px;
     padding-bottom: 15px;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.service-item{
	margin-bottom: 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.4);
}

.service-content{
  position: relative;
	text-align: center;
	padding: 25px;
	border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  min-height: 300px;
  /*background-color: #6A6A6A;*/
}

.service-content h5{
	color: #fff;
	margin-bottom: 20px;
}

.service-content p{
	color: #fff;
}

.service-icon{
	width: 70px;
	height: 70px;
	background-color: #fff;
	display: none;
	justify-content: center;
	align-items: center;
	margin: -70px auto 0;
	position: relative;
}

.service-icon i{
	color: #6A6A6A;
	font-size: 32px;
}

.service-img{
  position: relative;
}

#myservice1{
	background-color: #eec857;
}

#myservice2{
  background-color: #fd645b;
}

#myservice3{
  background-color: #4c7bcb;
}

#myservice4{
  background-color: #18a577;
}

#myservice5{
  background-color: #4c7bcb;
}

#myservice6{
  background-color: #18a577;
}

#myservice7{
  background-color: #fd645b;
}

#myservice8{
  background-color: #eec857;
}

/*--------------------------------------------------------------
# Insurance
--------------------------------------------------------------*/
.insurance-box{
  background-color: #fff;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px 15px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
}

.insurance-box img{
  max-height: 80px;
}

@media(max-width: 767px){
  .insurance-bg{
    margin-bottom: 20px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .insurance-bg{
    margin-bottom: 25px;
  }
}

/*--------------------------------------------------------------
# Recent Blogs
--------------------------------------------------------------*/
.recentblogs-item {
  position: relative;
  z-index: 0; 
  margin-bottom: 30px;
}

.recentblogs-icons{
  padding: 0 25px 0 25px;
}

.recentblogs-icons ul{
  padding-left: 0;
}

.recentblogs-icons ul li {
  display: inline-block;
  font-size: 15px;
  color: #afafaf;
  font-weight: 300;
  margin-right: 20px;
}

.recentblogs-icons ul li:last-child {
  margin-right: 0px;
}

.recentblogs-icons ul li i {
  color: #ff4d61;
  font-size: 16px;
  margin-right: 8px;
}

.recentblogs-item .recentblogs-content {
  width: 90%;
  margin: 0 auto;
  padding-top: 15px;
  z-index: 1;
  margin-top: -40px;
  background: #fff;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.4);
}

.recentblogs-item .recentblogs-content h3 {
  font-size: 20px;
  margin: 18px;
  line-height: 28px;
  font-weight: 700;
}

.recentblogs-item .recentblogs-content p {
  font-size: 18px;
  margin: 20px;
}

.recentblogs-btn a{
  background-color: green;
  color: #fff;
  display: block;
  font-size: 20px;
  padding: 14px 30px;
  text-align: center;
  transition: 0.5s all;
}

.recentblogs-btn a:hover{
  background-color: #fff;
  color: #6A6A6A;
  border: 5px solid #6A6A6A;
  font-weight: 700;
}

.recentblogs-item .blog-date {
  position: absolute;
  top: -7px;
  left: 20px;
  padding: 5px 15px;
  background: #f15d30; 
  display: flex;
  align-items: center;
}

.recentblogs-item .blog-date:after, .recentblogs-item .blog-date:before {
  position: absolute;
  top: 0;
  content: ''; 
}

.recentblogs-item .blog-date:after {
  left: -7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 7px 7px;
  border-color: transparent transparent #c7390d transparent; 
}

.recentblogs-item .blog-date:before {
  width: 0;
  right: -7px;
  height: 0;
  border-style: solid;
  border-width: 7px 0 0 7px;
  border-color: transparent transparent transparent #c7390d; 
}

.recentblogs-item .one {
  width: 55px; 
}

.recentblogs-item .two {
  width: calc(100% - 55px); 
}

.recentblogs-item span.day {
  font-size: 50px;
  font-weight: 300;
  color: #fff;
  line-height: 1; 
}

.recentblogs-item span.yr, .recentblogs-item span.mos {
  display: block;
  font-size: 13px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.8); 
}

.recentblogs-img {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: block;
  width: 100%;
  height: 270px;
  z-index: -1; 
}

/*.recentblogs-item .meta > div {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 0;
  font-size: 14px; 
}

.recentblogs-item .meta > div a {
  color: gray;
  font-size: 15px; 
}

.recentblogs-item .meta > div a:hover {
  color: #666666; 
}*/

/*--------------------------------------------------------------
# Doctors
--------------------------------------------------------------*/
.doctor-item {
	height: 435px;
	position: relative;
	margin-bottom: 30px;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.4);
}

.doctor-item:hover .doctor-content {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.doctor-item .doctor-content {
	text-align: center;
	background: #6A6A6A;
	position: absolute;
	left: 20px;
	top: 23px;
	width: calc(100% - 40px);
	height: calc(100% - 46px);
	padding: 50px 20px 60px 20px;
	opacity: 0;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.doctor-item .doctor-content p {
	margin-bottom: 32px;
  color: rgba(255, 255, 255, 0.8);
}

.doctor-item .doctor-content .doctor-title {
	margin-bottom: 20px;
}

.doctor-item .doctor-content .doctor-title h4 {
	font-size: 22px;
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 4px;
}

.doctor-item .doctor-content .doctor-title span {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	letter-spacing: 1px;
}

.doctor-item .doctor-content .doctor-social a {
	display: inline-block;
	font-size: 16px;
	color: #ffffff;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background: #303030;
	border-radius: 50%;
	margin-right: 3px;
}

.doctor-item .doctor-content .doctor-social a:last-child {
	margin-right: 0;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact-item {
  text-align: center;
  margin-bottom: 25px; 
}

.contact-item p {
  margin-bottom: 0; 
}
    
.contact-item p span {
   font-weight: 700;
   color: #000000;
   display: block;
   font-size: 16px; 
}
    
.contact-item p a {
  color: #fd645b; 
}

.contact-item .contact-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #eec857;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; 
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.4);
}
    
.contact-item .contact-icon span {
  font-size: 40px;
  color: #fff;     
}
  
.contact-item .contact-desc {
  width: 100%; 
}

    
.contact-wrap {
  background: #18a577;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.4); 
}
      
.contact-wrap h3 {
  color: #fff; 
}

@media (max-width: 767.98px) {
  .info-wrap {
    height: 400px; 
  } 
}

.contactForm .label {
  color: #fff !important;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600; 
}

.contactForm .form-control {
  border: none;
  padding: 10px; 
}

.contactForm .form-control {
  height: 50px;
  background: #fff !important;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  border-radius: 4px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: none; 
}

.contactForm .form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5) !important; 
}

.contactForm .form-control::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5) !important; 
}

.contactForm .form-control:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5) !important; 
}

.contactForm .form-control:-moz-placeholder {
  color: rgba(0, 0, 0, 0.5) !important; 
}

.contactForm .form-control:focus, .contactForm .form-control:active {
  border-color: #eec857 !important; 
}

.contactForm textarea.form-control {
  height: inherit !important; 
}

/*--------------------------------------------------------------
# Template button
--------------------------------------------------------------*/
.template-btn{
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  position: relative;
  border-radius: 5px;
  transition: 0.5s;
  line-height: 1;
  letter-spacing: 1px;
  display: inline-block;
  color: #fff;
  background: #6A6A6A;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  padding: 20px 30px;
}

.template-btn span{
  color: #fff;
  position: relative;
  z-index: 10;
}

.template-btn::after{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #fd645b;
  z-index: 0;
  content: '';
  transition: all 400ms cubic-bezier(.33,.68,.59,.99);
}

.template-btn:hover::after{
  height: 100%;
  color: #fff !important;
}

.template-btn:hover span{
  color: #fff;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #0f0f0f;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer .copyright {
  margin: 0 0 5px 0;
  font-size: 18px;
}

#footer .credits {
  font-size: 18px;
}