@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700");

body {
  font-family:"Ubuntu",sans-serif !important;
  color: #444444;
}

a {
  color: #006fbe;
  text-decoration: none;
  
}

a:hover {
  color: #008df1;
  text-decoration: none;
  cursor: pointer;
}

/*--------------------------------------------------------------
# Topbar
--------------------------------------------------------------*/

.header-uper {
  padding: 20px 0px 10px;
  background-color: #fff;
}

.header-uper .logo {
  float: left;
}

.header-uper .logo img{
  max-height: 50px;
}

.header-uper .right-side {
  float: right;
}

@media (max-width: 991px) {
  .header-uper .right-side {
    float: unset;
    text-align: center;
  }
}

.header-uper .contact-info {
  float: left;
}

@media (max-width: 991px) {
  .header-uper .contact-info {
    padding-left: 0;
    float: unset;
    margin-bottom: 30px;
  }
}

.header-uper .contact-info .item {
  position: relative;
  display: inline-block;
  padding-left: 70px;
  margin-right: 40px;
}

.header-uper .contact-info .item .icon-box {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  text-align: center;
  line-height: 53px;
  border: 1px solid #006fbe;
}

.header-uper .contact-info .item .icon-box i:before {
  color: #006fbe;
  font-size: 22px;
}

.header-uper .contact-info .item strong {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  color: #222222;
  text-transform: capitalize;
}

.header-uper .contact-info .item span {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  color: #777777;
}

.header-uper .link-btn {
  float: right;
}

@media (max-width: 991px) {
  .header-uper{display: none;}
  .header-uper .link-btn {
    float: unset;
  }
}

.header-uper .right-side .link-btn {
  margin-left: 20px;
  margin-top: 5px;
}

.header-uper .right-side .link-btn a{
  color: #fff !important;
  background-color: #244cfd;
  padding: 12px 20px;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background:linear-gradient(to bottom, #244cfd, #15e4fd);
  transition: 0.5s ease-in-out;
  z-index: 997;
  padding: 15px 0;
  box-shadow: 0px 2px 15px rgba(36, 50, 93, 0.06);
}

#header.header-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background:linear-gradient(to top, #244cfd, #15e4fd);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
}

#header .logo a {
  color: #fff;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 40px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #24325d;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #006fbe;
  text-decoration: none;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(22, 30, 56, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 76vh;
  background-color: rgba(22, 30, 56, 0.8);
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero .carousel-item {
  display: flex;
  align-items: center;
  padding-left: 60px;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 70px;
  left: 50px;
  right: 50px;
}

#hero .container {
  text-align: center;
}

#hero h4{
  font-size: 15px;
}

#hero h1 {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
}

#hero p {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  font-size: 18px;
  line-height: 28px;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .btn-get-started {
}

#hero .btn-get-started:hover {
}

@media(max-width: 767px){
  #hero{
    height: 100vh;
  }

  #hero .carousel-item {
    padding-left: 10px;
  }

  #hero h1 {
    margin-bottom: 20px;
    font-size: 30px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  #hero{
    height: 100vh;
  }

  #hero .carousel-item {
    padding-left: 30px;
  }

  #hero h1 {
    margin-bottom: 20px;
    font-size: 42px;
  }
}

/*--------------------------------------------------------------
# Hero indicators
--------------------------------------------------------------*/
#hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-left,
#hero .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
  top: 82px;
}

@media (max-width: 992px) {
  #hero .carousel-control-prev, #hero .carousel-control-next {
    top: 58px;
  }
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 36px;
  line-height: 1;
  width: auto;
  height: auto;
  background: rgba(0, 0, 0, 1);
  border-radius: 50px;
  padding: 10px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
  display: none;
}

#hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
  cursor: pointer;
  background: #006fbe;
  overflow: hidden;
  border: 0;
  width: 30px;
  height: 5px;
  opacity: .6;
  transition: 0.3s;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background: #006fbe;
}

@media (min-width: 1024px) {
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}

/*--------------------------------------------------------------
# About Main
--------------------------------------------------------------*/
.about-main .about-content{
}

.about-main .about-content h3 {
  font-weight: bold;
  font-size: 42px;
}

.about-main .about-content p{
  font-size: 18px;
  line-height: 28px;
}

.about-main .about-content .btn-learn-more {
  margin-bottom: 20px;
  padding: 18px 45px !important;
  font-size: 20px;
  font-weight: 500;
  display: block;
}

.about-main .about-content .btn-learn-more i{
  font-size: 28px;
  float: right;
}

.about-main .about-content .btn-learn-more:hover {
}

@media(max-width: 767px){
  .about-main .about-content{
    text-align: center;
  }

  .about-main .about-content h3 {
    font-size: 28px;
  }

  .about-main .about-content .btn-learn-more {
    margin-bottom: 15px;
    padding: 15px 40px !important;
    font-size: 18px;
  }

  .about-main .about-content .btn-learn-more i{
    font-size: 20px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .about-main .about-content{
    text-align: center;
  }
}

/*--------------------------------------------------------------
# About Inner
--------------------------------------------------------------*/
.about-inner .card {
  border: 0;
  padding: 0 30px;
  margin-bottom: 60px;
  position: relative;
}

.about-inner .card-img {
  width: calc(100% + 60px);
  margin-left: -30px;
  overflow: hidden;
  z-index: 9;
  border-radius: 0;
}

.about-inner .card-img img {
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}

.about-inner .card-body {
  z-index: 10;
  background: #fff;
  border-top: 4px solid #fff;
  padding: 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-top: -60px;
  transition: 0.3s;
}

.about-inner .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: #24325d;
}

.about-inner .card-title a {
  color: #24325d;
  transition: 0.3s;
}

.about-inner .card-text {
  color: #5e5e5e;
}

.about-inner .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.3s;
}

.about-inner .read-more a:hover {
  color: #006fbe;
}

.about-inner .card:hover img {
  transform: scale(1.1);
}

.about-inner .card:hover .card-body {
  border-color: #006fbe;
}

.about-inner .card:hover .card-body .card-title a {
  color: #006fbe;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Social Media
--------------------------------------------------------------*/
.social-media-item{
  text-align: center;
  padding: 20px;
}

.social-media-item img{
}

.social-media {
  overflow: hidden;
}

.social-media .owl-nav, .social-media .owl-dots {
  margin-top: 25px;
  text-align: center;
}

.social-media .owl-item {
}

.social-media .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  height: 10px;
  background-color: #95d3ff !important;
}

.social-media .owl-dot.active {
  background-color: #006fbe !important;
}

.social-media .owl-stage-outer {
  overflow: hidden;
}

/*--------------------------------------------------------------
# Resource Main
--------------------------------------------------------------*/
#resource-img{
}

#resource-img img{
}

.resource-main .icon-box {
  margin-bottom: 15px;
  background-color: #fff;
  padding: 15px 15px;
}

.resource-main .icon {
  width: 70px;
  height: 100%;
  float: left;
  margin-right: 10px;
}

.resource-main .icon i {
  width: 70px;
  height: 70px;
  background:linear-gradient(to right, #244cfd, #15e4fd);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: 0.5s;
  color: #fff;
  font-size: 28px;
}

.resource-main .icon-box:hover .icon i {
  box-shadow: 0px 0 25px rgba(0, 111, 190, 0.3);
}

.resource-main .title {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 22px;
  position: relative;
  padding-bottom: 5px;
  padding-top: 5px;
}

.resource-main .title a {
  color: #444444;
  transition: 0.3s;
}

.resource-main .title a:hover {
  color: #006fbe;
}

/* .resource-main .title::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #006fbe;
  bottom: 0;
  left: calc(50% - 25px);
} */

.resource-main .description {
  line-height: 28px;
  font-size: 18px;
}

.resource-main-btn{
  display: block !important;
  padding: 30px 32px !important;
  font-size: 24px !important;
}

.resource-main-btn:hover{
}

/*--------------------------------------------------------------
# Resources Inner
--------------------------------------------------------------*/
.resource-inner-btn{
}

.resource-inner-content{
  background-color: #fff;
  box-shadow: 0 5px 30px -5px #ccc;
}

.resource-inner .resource-inner-content + .resource-inner-content {
  margin-top: 100px;
}

.resource-inner .resource-inner-content h3 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.resource-inner .resource-inner-content ul {
  list-style: none;
  padding: 0;
}

.resource-inner .resource-inner-content ul li {
  padding-bottom: 10px;
  font-size: 18px;
}

.resource-inner .resource-inner-content ul i {
  font-size: 22px;
  padding-right: 4px;
  color: #006fbe;
}

.resource-inner .resource-inner-content p{
  font-size: 18px;
  line-height: 28px;
}

.resource-inner .resource-inner-content p:last-child {
  margin-bottom: 0;
}

@media(max-width: 767px){
  .resource-inner-btn{
    margin-bottom: 25px;
  }

  .resource-inner .resource-inner-content + .resource-inner-content {
    margin-top: 50px;
  }

  .resource-inner .resource-inner-content h3 {
    font-size: 24px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .resource-inner-btn{
    margin-bottom: 25px;
  }

  .resource-inner .resource-inner-content + .resource-inner-content {
    margin-top: 60px;
  }
}

/*--------------------------------------------------------------
# Service Main
--------------------------------------------------------------*/
.service-main-item{
  background-color: #fff;
  text-align: center;
  box-shadow: 0 5px 30px -5px #ccc;
}

.service-main-img{
  position: relative;
}

.service-main-hover{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(0, 111, 190, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-main-hover a{
  font-size: 22px;
  color: #fff;
  font-weight: bold;
}

.service-main-img:hover .service-main-hover{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
}

.service-main-item img{
  border-bottom: 1.5px solid black;
}

.service-main-item h5{
  font-size: 22px;
  font-weight: bold;
  margin: 20px 10px 10px 10px;
}

.service-main-item p{
  font-size: 18px;
  line-height: 28px;
  padding: 0 10px 20px 10px;
}

.service-main {
  overflow: hidden;
}

.service-main .owl-nav, .service-main .owl-dots {
  margin-top: 25px;
  text-align: center;
}

.service-main .owl-item {
}

.service-main .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  height: 10px;
  background-color: #95d3ff !important;
}

.service-main .owl-dot.active {
  background-color: #006fbe !important;
}

.service-main .owl-stage-outer {
  overflow: hidden;
}

/*--------------------------------------------------------------
# Service Inner
--------------------------------------------------------------*/
.service-inner-content{
  background-color: #fff;
}

.service-inner h3{
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.service-inner p{
  font-size: 18px;
  line-height: 28px;
}

.service-inner-content ul {
  list-style: none;
  padding: 0;
}

.service-inner-content ul li {
  padding-bottom: 10px;
  font-size: 18px;
}

.service-inner-content ul i {
  font-size: 22px;
  padding-right: 4px;
  color: #006fbe;
}

@media(max-width: 767px){
  .service-inner h3{
    font-size: 24px;
    margin-top: 15px;
  }

  .service-inner-btn{
    margin-bottom: 20px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .service-inner h3{
    margin-top: 20px;
  }

  .service-inner-btn{
    margin-bottom: 25px;
  }
}

/*--------------------------------------------------------------
# Insurance Main
--------------------------------------------------------------*/
.insurance-main .insurance-main-box {
  padding: 24px 20px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  height: 100%;
}

.insurance-main .insurance-main-box h3 {
  font-size: 18px;
  color: #012970;
  font-weight: 700;
  margin: 0;
}

.insurance-main .insurance-main-box i {
  line-height: 0;
  background: #ecf3ff;
  padding: 4px;
  margin-right: 10px;
  font-size: 24px;
  border-radius: 3px;
  transition: 0.3s;
}

.insurance-main .insurance-main-box:hover i {
  background: #4154f1;
  color: #fff;
}

.insurance-main .feture-tabs {
  margin-top: 120px;
}

.insurance-main .feture-tabs h3 {
  color: #012970;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .insurance-main .feture-tabs h3 {
    font-size: 28px;
  }
}

.insurance-main .feture-tabs .nav-pills {
  border-bottom: 1px solid #eee;
}

.insurance-main .feture-tabs .nav-link {
  background: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: #012970;
  padding: 12px 0;
  margin-right: 25px;
  margin-bottom: -2px;
  border-radius: 0;
}

.insurance-main .feture-tabs .nav-link.active {
  color: #4154f1;
  border-bottom: 3px solid #4154f1;
}

.insurance-main .feture-tabs .tab-content h4 {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
  color: #012970;
}

.insurance-main .feture-tabs .tab-content i {
  font-size: 24px;
  line-height: 0;
  margin-right: 8px;
  color: #4154f1;
}

.insurance-main .feature-icons {
  margin-top: 120px;
}

.insurance-main .feature-icons h3 {
  color: #012970;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .insurance-main .feature-icons h3 {
    font-size: 28px;
  }
}

.insurance-main .feature-icons .content .icon-box {
  display: flex;
}

.insurance-main .feature-icons .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: #012970;
}

.insurance-main .feature-icons .content .icon-box i {
  font-size: 44px;
  line-height: 44px;
  color: #0245bc;
  margin-right: 15px;
}

.insurance-main .feature-icons .content .icon-box p {
  font-size: 15px;
  color: #848484;
}

/*--------------------------------------------------------------
# Insurance Inner
--------------------------------------------------------------*/
.insurance-inner .insurance-inner-item {
  margin-bottom: 30px;
}

.insurance-inner #insurance-inner-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}

.insurance-inner #insurance-inner-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s;
}

.insurance-inner #insurance-inner-flters li:hover, .insurance-inner #insurance-inner-flters li.filter-active {
  color: #006fbe;
}

.insurance-inner #insurance-inner-flters li:last-child {
  margin-right: 0;
}

.insurance-inner .insurance-inner-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #fff;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.insurance-inner .insurance-inner-wrap img{
  max-height: 100px;
}

.insurance-inner .insurance-inner-wrap::before {
  content: "";
  background: rgba(0, 111, 190, 0.8);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.insurance-inner .insurance-inner-wrap .insurance-inner-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.insurance-inner .insurance-inner-wrap .insurance-inner-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.insurance-inner .insurance-inner-wrap .insurance-inner-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.insurance-inner .insurance-inner-wrap .insurance-inner-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

.insurance-inner .insurance-inner-wrap .insurance-inner-info p {
  color: #fff;
  font-size: 16px;
}

.insurance-inner .insurance-inner-wrap .insurance-inner-links {
  text-align: center;
  z-index: 4;
}

.insurance-inner .insurance-inner-wrap .insurance-inner-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.insurance-inner .insurance-inner-wrap .insurance-inner-links a:hover {
  color: #25a4ff;
}

.insurance-inner .insurance-inner-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.insurance-inner .insurance-inner-wrap:hover .insurance-inner-info {
  opacity: 1;
}

.insurance-inner .insurance-inner-wrap:hover .insurance-inner-info::before {
  top: 15px;
  left: 15px;
}

.insurance-inner .insurance-inner-wrap:hover .insurance-inner-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Blogs Main
--------------------------------------------------------------*/
.blogs-main-item{
}

.blogs-main-content{
  background-color: #fff;
  text-align: center;
  padding-left: 0 !important;
  padding-right: 0 !important; 
}

.blogs-main-content h3{
  padding: 12px 10px;
  background-color: #006fbe;
  color: #fff;
  font-size: 24px;
}

.blogs-main-content p{
  font-size: 18px;
  line-height: 28px;
  font-style: italic;
  padding: 20px 30px 0;
}

.blogs-main-content img{
  width: 90px !important;
  height: 90px !important;
  border-radius: 50%;
  margin: 20px auto;
}

.blogs-main-content .blogs-main-social{
  margin-bottom: 25px;
}

.blogs-main-content .blogs-main-social a{
  margin: 5px 2.5px !important;
}

.blogs-main-btn{
  margin-bottom: 25px;
}

.blogs-main-img{
  background-size: cover;
  min-height: 350px;
}

.blogs-main {
  overflow: hidden;
  box-shadow: 0 5px 30px -5px #ccc;
}

.blogs-main .owl-nav, .blogs-main .owl-dots {
  margin-top: 30px;
  text-align: center;
}

.blogs-main .owl-item {
}

.blogs-main .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #95d3ff !important;
}

.blogs-main .owl-dot.active {
  background-color: #006fbe !important;
}

.blogs-main .owl-stage-outer {
  overflow: hidden;
}

/*--------------------------------------------------------------
# Blog Detail
--------------------------------------------------------------*/

.blog .entry {
  padding: 20px;
  margin-bottom: 60px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .entry .entry-img {
  max-height: 400px;
  margin: -20px -20px 20px -20px;
  overflow: hidden;
}

.blog .entry .entry-title {
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}

.blog .entry .entry-title a {
  color: #3c4133;
  transition: 0.3s;
}

.blog .entry .entry-title a:hover {
  color: #006fbe;
}

.blog .entry .entry-meta {
  margin-bottom: 15px;
  color: #a3ab95;
}

.blog .entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.blog .entry .entry-meta ul li + li {
  padding-left: 20px;
}

.blog .entry .entry-meta i {
  font-size: 15px;
  padding-right: 4px;
}

.blog .entry .entry-meta a {
  color: #8b9578;
  font-size: 15px;
  display: inline-block;
  line-height: 1;
}

.blog .entry .entry-content p {
  line-height: 28px;
  font-size: 18px;
}

.blog .entry .entry-content .read-more {
}

.blog .entry .entry-content .read-more a {
  display: inline-block;
  background: #006fbe;
  color: #fff;
  padding: 12px 26px;
  transition: 0.3s;
  font-size: 15px;
}

.blog .entry .entry-content .read-more a:hover {
  background: #a6ca63;
}

.blog .entry .entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}

.blog .entry .entry-content blockquote {
  overflow: hidden;
  background-color: #fafafa;
  padding: 60px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.blog .entry .entry-content blockquote p {
  color: #444444;
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}

.blog .entry .entry-content blockquote .quote-left {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 36px;
  color: #e7e7e7;
}

.blog .entry .entry-content blockquote .quote-right {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 36px;
  color: #e7e7e7;
}

.blog .entry .entry-content blockquote::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #3c4133;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog .entry .entry-footer {
  padding-top: 10px;
  border-top: 1px solid #e6e6e6;
}

.blog .entry .entry-footer i {
  color: #8b9578;
  display: inline;
}

.blog .entry .entry-footer a {
  color: #b7bdab;
  transition: 0.3s;
}

.blog .entry .entry-footer a:hover {
  color: #006fbe;
}

.blog .entry .entry-footer .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}

.blog .entry .entry-footer .cats li {
  display: inline-block;
}

.blog .entry .entry-footer .tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}

.blog .entry .entry-footer .tags li {
  display: inline-block;
}

.blog .entry .entry-footer .tags li + li::before {
  padding-right: 6px;
  color: #6c757d;
  content: ",";
}

.blog .entry .entry-footer .share {
  font-size: 16px;
}

.blog .entry .entry-footer .share i {
  padding-left: 5px;
}

.blog .entry-single {
  margin-bottom: 30px;
}

.blog .entry-single .entry-title {
  font-size: 32px;
  line-height: 38px;
}

.blog .blog-comments {
  margin-bottom: 30px;
}

.blog .blog-comments .comments-count {
  font-weight: bold;
}

.blog .blog-comments .comment {
  margin-top: 30px;
  position: relative;
}

.blog .blog-comments .comment .comment-img {
  width: 50px;
}

.blog .blog-comments .comment h5 {
  margin-left: 65px;
  font-size: 16px;
  margin-bottom: 2px;
}

.blog .blog-comments .comment h5 a {
  font-weight: bold;
  color: #444444;
  transition: 0.3s;
}

.blog .blog-comments .comment h5 a:hover {
  color: #006fbe;
}

.blog .blog-comments .comment h5 .reply {
  padding-left: 10px;
  color: #3c4133;
}

.blog .blog-comments .comment time {
  margin-left: 65px;
  display: block;
  font-size: 14px;
  color: #a3ab95;
  margin-bottom: 5px;
}

.blog .blog-comments .comment p {
  margin-left: 65px;
}

.blog .blog-comments .comment.comment-reply {
  padding-left: 40px;
}

.blog .blog-comments .reply-form {
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-comments .reply-form h4 {
  font-weight: bold;
  font-size: 22px;
}

.blog .blog-comments .reply-form p {
  font-size: 14px;
}

.blog .blog-comments .reply-form input {
  border-radius: 0;
  padding: 20px 10px;
  font-size: 14px;
}

.blog .blog-comments .reply-form input:focus {
  box-shadow: none;
  border-color: #c0da91;
}

.blog .blog-comments .reply-form textarea {
  border-radius: 0;
  padding: 10px 10px;
  font-size: 14px;
}

.blog .blog-comments .reply-form textarea:focus {
  box-shadow: none;
  border-color: #c0da91;
}

.blog .blog-comments .reply-form .form-group {
  margin-bottom: 25px;
}

.blog .blog-comments .reply-form .btn-primary {
  border-radius: 0;
  padding: 10px 20px;
  border: 0;
  background-color: #006fbe;
}

.blog .blog-comments .reply-form .btn-primary:hover {
  background-color: #006fbe;
}

.blog .blog-pagination {
  color: #717a60;
}

.blog .blog-pagination ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.blog .blog-pagination li {
  border: 1px solid white;
  margin: 0 5px;
  transition: 0.3s;
}

.blog .blog-pagination li.active {
  background: white;
}

.blog .blog-pagination li a {
  color: #aaaaaa;
  padding: 7px 16px;
  display: inline-block;
}

.blog .blog-pagination li.active, .blog .blog-pagination li:hover {
  background: #006fbe;
  border: 1px solid #006fbe;
}

.blog .blog-pagination li.active a, .blog .blog-pagination li:hover a {
  color: #fff;
}

.blog .blog-pagination li.disabled {
  background: #fff;
  border: 1px solid white;
}

.blog .blog-pagination li.disabled i {
  color: #f1f1f1;
  padding: 10px 16px;
  display: inline-block;
}

.blog .sidebar {
  margin: 0 0 60px 0;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-author {
  padding: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.blog .blog-author img {
  width: 120px;
  margin-bottom: 15px;
}

.blog .blog-author h4 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 10px;
}

.blog .blog-author .social-links {
  margin: 0 0 5px 0px;
}

.blog .blog-author .social-links a {
  color: #a3ab95;
}

.blog .blog-author p {
  font-style: italic;
}

.blog .sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  background:linear-gradient(to right, #244cfd, #15e4fd);
  margin: 0 0 0 0;
  color: #fff;
  text-align: center;
  position: relative;
}

.blog .sidebar .sidebar-title i{
  display: none;
}

.blog .sidebar .sidebar-item {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
}

.blog .sidebar .categories ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .categories ul li + li {
  padding-top: 10px;
}

.blog .sidebar .categories ul a {
  color: #7e886b;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid #edefea;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.blog .sidebar .categories ul a:hover {
  color: #006fbe;
}

.blog .sidebar .categories ul a span {
  padding-left: 5px;
  color: #a3ab95;
  font-size: 14px;
}

.blog .sidebar .recent-posts .post-item + .post-item {
  margin-top: 15px;
}

.blog .sidebar .recent-posts img {
  width: 80px;
  float: left;
}

.blog .sidebar .recent-posts h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
}

.blog .sidebar .recent-posts h4 a {
  color: #070806;
  transition: 0.3s;
}

.blog .sidebar .recent-posts h4 a:hover {
  color: #006fbe;
}

.blog .sidebar .recent-posts time {
  display: block;
  margin-left: 95px;
  font-style: italic;
  font-size: 14px;
  color: #a3ab95;
}

.blog .sidebar .tags {
}

.blog .sidebar .tags ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .tags ul li {
  display: block;
}

.blog .sidebar .tags ul a {
  color: #7e886b;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid #edefea;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.blog .sidebar .tags ul a:hover {
  color: #fff;
  border: 1px solid #006fbe;
  background: #006fbe;
}

.blog .sidebar .tags ul a span {
  padding-left: 5px;
  color: #d5d8ce;
  font-size: 14px;
}

.btn-toolbar button{
  margin-right: 10px;
}

.btn-toolbar .facebook{
  background-color: #3B5998;
}

.btn-toolbar .twitter{
  background-color: #55ACEE;
}

.btn-toolbar .instagram{
  background-color: #125688;
}

.btn-toolbar .linkedin{
  background-color: #007bb5;
}

.btn-toolbar button a{
  color: #fff;
}

@media(max-width: 768px){
  .blog .entry-title{
    font-size: 20px !important;
    line-height: 24px !important;
  }
}

/*--------------------------------------------------------------
# Doctors Main
--------------------------------------------------------------*/

.team-main{
  box-shadow: 0 5px 30px -5px #ccc;
}

.team-main-content{
  background-color: #fff;
  padding: 15px;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.team-main-content h5{
  font-weight: bold;
}

.team-main-content h6{
  font-size: 14px;
  font-style: italic;
}

.team-main-content .team-main-social a{
  margin: 3px 2.5px;
}

.team-main-content:hover{
  background-color: #006fbe;
  color: #fff;
}

.team-main-content:hover .team-main-social a{
  color: #fff;
}

.doctors-main .template-btn{
  margin-top: 15px;
  margin-bottom: 25px;
}

/*--------------------------------------------------------------
# Doctor Inner
--------------------------------------------------------------*/

.doctors-inner{
}

.doctors-inner-img{
  background-color: #fff;
  padding: 20px 30px;
  text-align: center;
}

.doctors-inner-img img{
  margin-bottom: 30px;
}

.doctors-inner-img h5{
  font-weight: bold;
  font-size: 24px;
}

.doctors-inner-content{
  padding-top: 30px;
  background-color: #fff;
}

.doctors-inner-content h3{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 15px;
}

.doctors-inner-content p{
  font-size: 20px;
  line-height: 30px;
}

.doctors-inner-btn{
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px 12px 20px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  line-height: 1;
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

@media(max-width: 767px){
  .doctors-inner-content{
    text-align: center;
  }

  .doctors-inner-content h3{
    font-size: 24px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .doctors-inner-content{
    text-align: center;
  }
}


/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact-box{
  background-color: #fff;
}

.contact-us .info {
  width: 100%;
  background: #fff;
  padding: 25px;
}

.contact-us .info i {
  font-size: 20px;
  color: #006fbe;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact-us .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #24325d;
}

.contact-us .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #405aa7;
}

.contact-us .info .email, .contact-us .info .phone {
  margin-top: 40px;
}

.contact-us .info .email:hover i, .contact-us .info .address:hover i, .contact-us .info .phone:hover i {
  background: #006fbe;
  color: #fff;
}

.contact-us .php-email-form {
  width: 100%;
  background: #fff;
}

.contact-us .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact-us .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact-us .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact-us .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact-us .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact-us .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact-us .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact-us .php-email-form input, .contact-us .php-email-form textarea {
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact-us .php-email-form input:focus, .contact-us .php-email-form textarea:focus {
  border-color: #006fbe;
}

.contact-us .php-email-form input {
  height: 44px;
}

.contact-us .php-email-form textarea {
  padding: 10px 12px;
}

.contact-us .php-email-form button[type="submit"] {
  background: #006fbe;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
  margin-bottom: 20px;
}

.contact-us .php-email-form button[type="submit"]:hover {
  background: #007ed8;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #1d284b;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 30px 0;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer a{
  padding-left: 5px;
}

#footer .credits {
  font-size: 15px;
}

#footer .credits a {
  color: #006fbe;
  transition: 0.3s;
}

#footer .credits a:hover {
  color: #008df1;
}

/*--------------------------------------------------------------
# Common Styles
--------------------------------------------------------------*/
.template-btn{
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  line-height: 1;
  color: #fff;
  background:linear-gradient(to right, #244cfd, #15e4fd);
  text-align: center;
}

.template-btn:hover{
  background: #006fbe;
  color: #fff;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg,
main {
  background-color: #b4e0ff; /* #b4e0ff */
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #006fbe;
  bottom: 0;
  left: calc(50% - 20px);
}

@media(max-width: 767px){
  section {
    padding: 40px 0;
  }

  .section-title h2 {
    font-size: 24px;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  section {
    padding: 50px 0;
  }

  .section-title h2 {
    font-size: 32px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #006fbe;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #0087e7;
  color: #fff;
}

/*--------------------------------------------------------------
# Right Sidebar
--------------------------------------------------------------*/

#sidebar-icon{
  position: fixed;
  top: 250px;
  left: 0;
  background:linear-gradient(to right, #244cfd, #15e4fd);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1090;
}

#sidebar-icon i{
  color: #fff;
  font-size: 20px;
}

@media(max-width: 767px){
  #sidebar-icon{
    top: 150px;
    width: 25px;
    height: 25px;
  }

  #sidebar-icon i{
    font-size: 14px;
  }
}

.right-sidebar {
  position: fixed;
  left: -100%;
  width: 100%;
  display: none;
  z-index: 9999;
  background: #fff;
  top: 0px;
  padding-bottom: 20px;
  height: 100%;
  box-shadow: 5px 1px 40px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease; }

  .right-sidebar .rpanel-title {
    display: block;
    padding: 22px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    background:linear-gradient(to bottom, #244cfd, #15e4fd);
   }

    .right-sidebar .rpanel-title span {
      float: right;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 2px; }

      .right-sidebar .rpanel-title span:hover {
        color: #fff; }
  
  .right-sidebar .r-panel-body {
    padding: 20px; }
    .right-sidebar .r-panel-body ul {
      margin: 0px;
      padding: 0px; }
      .right-sidebar .r-panel-body ul li {
        list-style: none;
        padding: 5px 0; }

.right-sidebar .r-panel-body h5{
  font-weight: bold;
}

.shw-rside {
  left: 0px;
  width: 100%;
  display: block;}

#google_translate_element2 {display:none!important;}

/*--------------------------------------------------------------
# Strips
--------------------------------------------------------------*/
.strips{
  padding: 0;
  background: linear-gradient(to right, #15e4fd, #244cfd, #15e4fd);
}

.strips .strip-column{
  padding: 15px;
  position: relative;
  z-index: 21;
  display: flex;
  justify-content: center;
  align-items: center;
}

.strip-rightarrow,
.strip-leftarrow{
  position: absolute;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #006fbe;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}

.strip-rightarrow{
  top: 0;
  right: 0;
  bottom: 0;
}

.strip-leftarrow{
  top: 0;
  left: 0;
  bottom: 0;
}

.strip-rightarrow i,
.strip-leftarrow i{
  font-size: 36px;
  color: #fff;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px)
  }
}

.strips .strip-column h4{
  font-weight: bold;
  color: #fff;
  letter-spacing: 1.5px;
}

@media(max-width: 767px){
  .strip-rightarrow,
  .strip-leftarrow{
    padding: 15px;
    opacity: 0.7;
  }

  .strip-rightarrow{
    top: 100%;
    right: 0;
  }

  .strip-leftarrow{
    top: 100%;
    left: 0;
  }

  .strip-rightarrow i,
  .strip-leftarrow i{
    font-size: 24px;
  }

  .strips .strip-column h4{
    font-size: 20px;
    letter-spacing: 1.3px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .strip-rightarrow,
  .strip-leftarrow{
    padding: 20px;
    opacity: 0.7;
  }

  .strip-rightarrow{
    top: 100%;
    right: 0;
  }

  .strip-leftarrow{
    top: 100%;
    left: 0;
  }

  .strip-rightarrow i,
  .strip-leftarrow i{
    font-size: 28px;
  }

  .strips .strip-column h4{
    font-size: 24px;
    letter-spacing: 1.3px;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background-color: #fff;
}

.breadcrumbs h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #006fbe;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  float: right;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #324682;
  content: "|";
}

@media (max-width: 767px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs h2 {
    font-size: 28px;
  }

  .breadcrumbs{
    text-align: center;
  }

  .breadcrumbs ol{
    float: none;
    justify-content: center;
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .breadcrumbs{
    text-align: center;
  }

  .breadcrumbs ol{
    float: none;
    justify-content: center;
  }
}