@import url('https://fonts.googleapis.com/css?family=Poppins:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body
{
  font-family: 'Poppins', sans-serif;
}

/*========================== Section Settings =========================*/
section
{
  padding: 30px 0px;
}
.section-heading
{
  font-size: 40px; 
  font-weight: 600; 
  min-height: 1px; 
  line-height: 1.42857143; 
  color: #4798AF;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .section-heading
  {
    font-size: 25px;
    margin-bottom: 15px;
  }
}
/*========================== Section Settings =========================*/

.title 
{
  font-size: 4rem;
  letter-spacing: 2.4px;
  font-weight:bold;
}

/* ipad setting */
@media (min-width: 768px) and (max-width: 1024px)
{
  .title
  {
    font-size: 1.8rem;
    text-align: left;
  }
}

/* mobile settings */
@media only screen and (max-width: 740px)
{
  .title {
    font-size: calc(1.3rem + 2.6vw);
    text-align: center;
    text-transform: uppercase;
  }
}