@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700&display=swap");

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Josefin Sans', sans-serif;
  color: #444444;
}

a, a:hover {
  text-decoration: none;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #292929;
    z-index: 11000;
    position: fixed;
    display: block
}


@keyframes loader {
  0%, 10%, 100% {
    width: 80px;
    height: 80px;
  }
  65% {
    width: 150px;
    height: 150px;
  }
}
@keyframes loaderBlock {
  0%, 30% {
    transform: rotate(0);
  }
  55% {
    background-color: #faad3b;
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes loaderBlockInverse {
  0%, 20% {
    transform: rotate(0);
  }
  55% {
    background-color: #faad3b;
  }
  100% {
    transform: rotate(-90deg);
  }
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  animation: loader 1.2s infinite ease-in-out;
}
.loader span {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #009bb7;
  animation: loaderBlock 1.2s infinite ease-in-out both;
}
.loader span:nth-child(1) {
  top: 0;
  left: 0;
}
.loader span:nth-child(2) {
  top: 0;
  right: 0;
  animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}
.loader span:nth-child(3) {
  bottom: 0;
  left: 0;
  animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}
.loader span:nth-child(4) {
  bottom: 0;
  right: 0;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 11;
}

.back-to-top.showbacktop{
  opacity: 1;
}

.back-to-top span{
  background-color: #0b345d;
  color: #fff;
  writing-mode: vertical-lr;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  word-spacing: 4px;
  padding: 20px 10px 50px;
  border-radius: 30px 30px 5px 5px;
  animation: backtop 2s linear infinite;
}

@keyframes backtop {
  0% {
    transform: scale(1.1) translateY(0);
  }
  20% {
    transform: scale(1.1) translateY(-10px);
  }
  30% {
    transform: scale(1.1) translateY(10px);
  }
  50% {
    transform: scale(1.1) translateY(-10px);
  }
  60% {
    transform: scale(1.1) translateY(10px);
  }
  100% {
    transform: scale(1.1) translateY(0);
  }
}

.back-to-top i {
  font-size: 24px;
  font-weight: 900;
  border-radius: 5px;
  background-color: #0b345d;
  color: #fff;
  position: absolute;
  bottom: 2px;
  left: 2px;
  right: 2px;
  z-index: 12;
  padding: 8px;
  text-align: center;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Template Btns
--------------------------------------------------------------*/
.template-btn {
  position: relative;
  background: #265db9 !important;
  background-image: linear-gradient(to right top ,#6871f4,#6871f4,#6871f48f,#265db9 ,#265db9b0 )!important;
  color: #fff !important;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  background: #7a90ff;
  padding: 12px 25px;
  margin: 15px auto 0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  -webkit-transform: skew(0);
  -moz-transform: skew(0);
  -o-transform: skew(0);
}

.template-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  background:#000 !important;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  transform: scaleY(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.template-btn:hover:before, 
.template-btn:focus:before {
  transform: scaleY(1);
  color: #fff!important;
  border-radius: 5px;
}

.template-btn span{
  display: block;
  font-weight: bold;
  transform:skew(0);
}

.template-btn:hover span{
  color:#fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
  padding: 15px 15px 13px;
}

#header.header-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: ##0b345d;
  text-decoration: none;
}

.span1{color: red;}

.span3{color: orange;}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (max-width: 768px) {
  #header .logo h1 {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #0b345d;
  padding: 10px 20px 10px 20px;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-menu a img{
  max-height: 35px;
  margin-top: -10px;
}

.nav-menu a span{
  display: none;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #0b345d;
  text-decoration: none;
}

.nav-menu .active > a img{
  display: none;
}

.nav-menu .active > a span{
  display: flex;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 25px;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #3b626f;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #85b0be;
}

.nav-menu .drop-down ul .active > a img{
}

.nav-menu .drop-down ul .active > a span{
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #0b345d;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #052c3f;
  padding: 15px 20px;
  font-weight: 500;
  outline: none;
  text-align: center;
}

.mobile-nav a img{
  max-height: 30px;
  margin-right: 10px;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #85b0be;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(1, 11, 16, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff !important;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  position: relative;
  height: 100vh;
  background: #0b345d;
  background-image: linear-gradient(155deg, #002f62 0%, #18496a 50%, #138b89 100%);
}

#hero svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

.hero-content{
  height: 80vh;
  padding-left: 100px;
  padding-top: 20vh;
  text-align: left;
  color: #fff;
}

.hero-content h1{
  font-weight: 800;
  font-size: 48px;
  display: block;
  margin-left: 0;
}

.hero-content h2{
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
}

.hero-img{
  height: 80vh;
}

.hero-img img{
  width: 60% !important;
  margin: 0 auto;
}

.hero-btn {
  position: relative;
  background: #265db9 !important;
  background-image: linear-gradient(to right top ,#6871f4,#6871f4,#6871f48f,#265db9 ,#265db9b0 )!important;
  color: #fff !important;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  background: #7a90ff;
  padding: 12px 25px;
  margin: 25px auto 0;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  -webkit-transform: skew(0);
  -moz-transform: skew(0);
  -o-transform: skew(0);
}

.hero-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  background:#000 !important;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  transform: scaleY(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.hero-btn:hover:before, 
.hero-btn:focus:before {
  transform: scaleY(1);
  color: #fff!important;
  border-radius: 5px;
}

.hero-btn span{
  display: block;
  font-weight: bold;
  transform:skew(0);
}

.hero-btn:hover span{
  color:#fff;
}

/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
section{
  padding: 70px 0;
  overflow: hidden;
}

.section-bg{
  background-color: #f2f3f5;
}

.section-title{
  text-align: center;
  margin-bottom: 50px;
}

.section-title h2{
  font-weight: 900;
  text-transform: uppercase;
  font-size: 48px;
  padding-bottom: 15px;
}

.section-title img{
  opacity: 0.6;
  max-height: 60px;
  margin-bottom: 20px;
  position: relative;
  /*animation: spin1 15s linear infinite;*/
}

.section-title img::before{
  content: '';
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: red;
  left: -120px;
  top: 50%;
}

.section-title img::after{
  content: '';
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: red;
  right: -120px;
  top: 50%;
}
    
@keyframes spin1 {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(-90deg); }    
  75% {
    transform: rotate(90deg); }
   100% {
    transform: rotate(0deg); }  }

/*--------------------------------------------------------------
# About us
--------------------------------------------------------------*/
.aboutus{
  padding-top: 0;
}

.about-item {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 45px 25px 35px;
  background: #0b345d;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

.about-item * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

.about-icon{
  background-color: #fff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 0 auto 25px;
}

.about-icon img {
  max-height: 90px;
}

.about-front h4{
  color: #fff;
  font-weight: 700;
}

.about-item .about-back {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  padding: 30px 0 30px 10px;
  background-color: #ffffff;
  width: 60%;
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
}

.about-item .about-back:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 100%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 120px 0;
  border-color: transparent #ffffff transparent transparent;
}

.about-item p {
  line-height: 28px;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  margin: 15px 0 0;
  font-size: 18px;
  color: #0b345d;
}

.about-item:hover img,
.about-item.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}

.about-item:hover:after,
.about-item.hover:after,
.about-item:hover .about-back,
.about-item.hover .about-back {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}  

/*--------------------------------------------------------------
# Social Media
--------------------------------------------------------------*/
.social-block{
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  transition: all 0.5s ease-in-out;
}

.social-block img{
  transition: all 0.5s ease-in-out;
}

.social-block:hover img{
  transform: rotateY(360deg);
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Medical Media
--------------------------------------------------------------*/
.medical-box{
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 140px;
  transition: all 0.5s ease-in-out;
}

.medical-box img{
  transition: all 0.5s ease-in-out;
}

.medical-box:hover img{
  transform: rotateY(360deg);
}

@media(max-width: 767px){
  .medical-box{
    padding: 15px;
    min-height: auto;
  }
}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Strips
--------------------------------------------------------------*/
.strips{
  padding: 30px;
  background: #0b345d;
  background-image: linear-gradient(155deg, #002f62 0%, #18496a 50%, #138b89 100%);
  animation: strip-wave 3s linear infinite;
}

@keyframes strip-wave {
  0% {
    border-radius: 5rem;
   }
  50% {
    border-radius: 7.5rem;
   }    
  100% {
    border-radius: 10rem;
   }  
}

.strips svg {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

.strips svg path{
  fill: none;
  stroke: #f2f3f5;
  stroke-linecap: round;
  stroke-width: 100px;
}

.strips h3{
  letter-spacing: 1.2px;
  font-size: 32px;
  text-align: center;
  color: #fff;
  animation: strip-head 10s linear infinite;
}

@keyframes strip-head {
  0% {
    transform: rotateY(45deg);
    letter-spacing: 1.2px; }
  50% {
    transform: rotateY(-90deg);
    letter-spacing: 1.4px; }    
  100% {
    transform: rotateY(45deg);
    letter-spacing: 1.8px; }  
}

.strip-btn{
  position: absolute;
  right: 20px;
  top: 11%;
}

.strip-btn a{
  background: #265db9 !important;
  background-image: linear-gradient(to right top ,#6871f4,#6871f4,#6871f48f,#265db9 ,#265db9b0 )!important;
  color: #fff !important;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  background: #7a90ff;
  padding: 12px 25px;
  margin: 15px auto 0;
  border-radius: 10rem;
  cursor: pointer;
}

.strip-btn a i{
  font-size: 28px;
  cursor: pointer;
  animation: strip-head 10s linear infinite;
}

/*--------------------------------------------------------------
# Resources
--------------------------------------------------------------*/
.resource1{background: url(../img/resource/designing.png) no-repeat;}
.resource2{background: url(../img/resource/dev.png) no-repeat;}
.resource3{background: url(../img/resource/seo.png) no-repeat;}
.resource4{background: url(../img/resource/marketing.png) no-repeat;}

.resource-bg{
  width: 100%;
  padding: 0px;
  height: 532px;
}

.resource-item {
    position: relative;
    margin: 10px auto;
    width: 258px;
    height: 493px;
    z-index: 1;
    perspective: 1000;
    -webkit-perspective: 1000;
}

.resource1-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #01bfff;
    border-radius: 10px;
}

.resource1-content::-webkit-scrollbar {
    width: 10px;
    background-color: #01bfff;
}

.resource1-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #01bfff;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#353275), to(#353275), color-stop(0.6, #353275));
}

.resource2-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #fd0064;
    border-radius: 10px;
}

.resource2-content::-webkit-scrollbar {
    width: 10px;
    background-color: #fd0064;
}

.resource2-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fd0064;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#9a0a32), to(#9a0a32), color-stop(0.6, #9a0a32));
}

.resource3-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #fe9b00;
    border-radius: 10px;
}

.resource3-content::-webkit-scrollbar {
    width: 10px;
    background-color: #fe9b00;
}

.resource3-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fe9b00;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#a84107), to(#a84107), color-stop(0.6, #a84107));
}

.resource4-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #16e6bd;
    border-radius: 10px;
}

.resource4-content::-webkit-scrollbar {
    width: 10px;
    background-color: #16e6bd;
}

.resource4-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #16e6bd;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#06887e), to(#06887e), color-stop(0.6, #06887e));
}

.resource-icon {
    margin: 12% 0%;
    position: absolute;
    left: 33%;
    color: #fff;
    font-weight: 600;
    font-size: 38px;
}

.resource-heading {
    position: relative;
    top: 32%;
    left: 14%;
    text-align: left;
    color: #fff;
    font-size: 24px;
}

.resource-outer {
    width: 100%;
    height: 502px;
}

.resource-outer p {
    position: absolute;
    top: 43%;
    text-align: justify;
    font-size: 18px;
    padding: 15px 8px 0px 38px;
    color: #fff;
    width: 90%;
    overflow-y: scroll;
    height: 100px;
}

.resource-btn{
  position: absolute;
  top: 64%;
  left: 12%;
  font-size: 20px;
  padding: 10px 8px 10px 45px;
  color: #fff;
  width: 90%;
}

.resource-btn i{
  position: absolute;
  margin-left: 5px;
  font-size: 24px;
  margin-top: 3px !important;
}

.resource-btn:hover{
  color: #fff;
}

/*.resource-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s linear;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 1s linear;
}

.resource-item:hover .resource-inner {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}*/

.resource-btn{
  position: relative;
}

.resource-btn a{
  width: 100px !important;
  height: 100px !important;
  margin: 15px auto 0;
  background-color: red;
}

/*--------------------------------------------------------------
# Service Main
--------------------------------------------------------------*/
.service-left{
  height: 640px;
  overflow-y: scroll;
}

.service-left::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #01bfff;
    border-radius: 10px;
}

.service-left::-webkit-scrollbar {
    width: 10px;
    margin-left: 0;
    background-color: #01bfff;
}

.service-left::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #01bfff;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#353275), to(#353275), color-stop(0.6, #353275));
}

.service-right{
  display: flex;
  justify-content: center;
  align-items: center;
}

.services .nav-tabs {
  border: 0;
}

.services .nav-link {
  border: none;
  border-radius: 0;
  background-color: #fff;
  height: 160px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

.services .nav-link .service-icon{
  width: 70px;
  height: 120px;
  float: left;
  margin-right: 5px;
}

.services .nav-link .service-icon img{
  max-height: 60px;
}

.services .nav-link h5{
  font-weight: 700;
}

.services .nav-link:hover,
.services .nav-link.active {
  color: #0b345d;
  border: 2px solid #0b345d;
  box-shadow: none;
}

.services .tab-content {
}

.services .tab-content img{
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

/*--------------------------------------------------------------
# Insurance
--------------------------------------------------------------*/
.insurance-icons{
  height: 450px;
  overflow-y: scroll;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

.insurance-icons::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #01bfff;
    border-radius: 10px;
}

.insurance-icons::-webkit-scrollbar {
    width: 10px;
    margin-left: 0;
    background-color: #01bfff;
}

.insurance-icons::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #01bfff;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#353275), to(#353275), color-stop(0.6, #353275));
}

.insurance-item{
  background-color: #fff;
}

.insurance-box{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:30px;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Recent Blogs
--------------------------------------------------------------*/
.recentblog-item{
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

.recentblog-img{
  position: relative;
  transition: all 0.5s ease-in-out;
  padding: 0 0;
}

.recentblog-img span{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0b345d;
  color: #fff;
  padding: 15px 20px;
  text-align: center;
}

.recentblog-content{
  padding: 15px 30px;
  text-align: center;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.recentblog-content h4{
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  transition: all 0.5s ease-in-out;
}

.recentblog-content p{
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 0;
  transition: all 0.5s ease-in-out;
}

.recentblog-author{
  position: relative;
  width: 60%;
  left: 20%;
  padding: 20px;
}

.recentblog-author img{
  height: 50px !important;
  width: 50px !important;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.recentblog-author h5{
  font-weight: bold;
}

.recentblog-btn{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------------------------------------------------------
# Doctors
--------------------------------------------------------------*/
.team-item {
  border-radius: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

.team-item .curve1 {
  opacity: 0;
  position: absolute;
  right: 0;
  left: 0;
  top: -100%;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.team-item path {
  fill: #0b345d;
}

.team-item img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.team-item .team-content {
  color: #fff;
  text-align: right;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
}

.team-item h4 {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  opacity: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
}

.team-item span {
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0 2px 5px 0;
  opacity: 0;
  display: block;
  -webkit-transform: translateX(-20%);
  transform: translateX(-20%);
  -webkit-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
}

.team-item .team-icons {
  list-style: none;
  text-align: right;
  padding: 0;
  margin: 0;
  opacity: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
}

.team-item .team-icons li {
  margin: 0 2px;
  display: inline-block;
}

.team-item .team-icons li a {
  color: #fff;
  font-size: 17px;
  text-align: center;
  line-height: 32px;
  height: 35px;
  width: 35px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.team-item:hover .curve1 {
  opacity: 1;
  top: -10%;
}

.team-item:hover img {
  transform: translateY(50px);
}

.team-item:hover h4,
.team-item:hover span,
.team-item:hover .team-icons {
  opacity: 1;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}

.team-item .team-icons li a:hover {
  color: #919197;
  background-color: #fff;
  border-color: #fff;
  -webkit-box-shadow: 0 0 5px #70bce0;
  box-shadow: 0 0 5px #70bce0;
}

.team-item .curve2 {
  opacity: 0;
  position: absolute;
  left: -2px;
  bottom: -100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.team-item:hover .curve2 {
  opacity: 1;
  bottom: -2px;
}

@media only screen and (max-width: 991px) {
  .team-item {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .team-item h4 {
    font-size: 18px;
  }
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contactus ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.contactus ul li:nth-child(1) {
    width: 31%;
    float: left;
    margin: 45px 10px;
    background: #c1282d;
    border-radius: 13px;
    padding: 23px 23px 11px;
}
.contactus ul li:nth-child(1) .contact-item {
    background: #fff;
    border-radius: 11px;
    padding: 20px;
    text-align: center;
    margin-top: -79px;
    box-shadow: 5px 5px 0px #0000004f;
}
.contactus ul li:nth-child(1) .contact-item::before {
    display: table;
    content: " ";
}
.contactus ul li:nth-child(1) .contact-item::after {
    display: table;
    content: " ";
    background: #fff;
    width: 45px;
    height: 47px;
    position: absolute;
    border-radius: 0px 0px 0px 125px;
}
.contactus ul li:nth-child(1) .contact-item img {
    max-height: 100px;
}
.contactus ul li:nth-child(1) .contact-item .contact-title {
    color: #c1282d;
    margin-top: 16px;
    font-size: 24px;
    font-weight: 700;
}
.contactus ul li:nth-child(1) .contact-item p {
    font-size: 20px;
    line-height: 28px;
}

@media(max-width: 767px){
  .contactus ul li:nth-child(1) {
      width: 93%;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .contactus ul li:nth-child(1) {
      width: 46.5%;
  }
}

.contactus .number {
    position: relative;
    padding: 18px 0;
    margin: 0;
    font-size: 50px;
    right: 0;
    float: right;
    left: 0;
    color: #fff;
}
.contactus ul li:nth-child(2) {
    width: 31%;
    margin: 45px 10px;
    float: left;
    background: #f99023;
    border-radius: 13px;
    padding: 23px 23px 11px;
}

.contactus ul li:nth-child(2) .contact-item {
    background: #fff;
    border-radius: 11px;
    padding: 20px;
    text-align: center;
    margin-top: -79px;
    box-shadow: 5px 5px 0px #0000004f;
}
.contactus ul li:nth-child(2) .contact-item::before {
    display: table;
    content: " ";
}
.contactus ul li:nth-child(2) .contact-item::after {
    display: table;
    content: " ";
    background: #fff;
    width: 45px;
    height: 47px;
    position: absolute;
    border-radius: 0px 0px 0px 125px;
}
.contactus ul li:nth-child(2) .contact-item img {
  max-height: 100px;
}
.contactus ul li:nth-child(2) .contact-item .contact-title {
    color: #f99023;
    margin-top: 16px;
    font-size: 24px;
    font-weight: 700;
}
.contactus ul li:nth-child(2) .contact-item p {
    font-size: 20px;
    line-height: 28px;
}

@media(max-width: 767px){
  .contactus ul li:nth-child(2) {
      width: 93%;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .contactus ul li:nth-child(2) {
      width: 46.5%;
  }
}

.contactus ul li:nth-child(3) {
    width: 31%;
    margin: 45px 10px;
    float: left;
    background: #26acdf;
    border-radius: 13px;
    padding: 23px 23px 11px;
}
.contactus ul li:nth-child(3) .contact-item {
    background: #fff;
    border-radius: 11px;
    padding: 20px;
    text-align: center;
    margin-top: -79px;
    box-shadow: 5px 5px 0px #0000004f;
}
.contactus ul li:nth-child(3) .contact-item::before {
    display: table;
    content: " ";
}
.contactus ul li:nth-child(3) .contact-item::after {
    display: table;
    content: " ";
    background: #fff;
    width: 45px;
    height: 47px;
    position: absolute;
    border-radius: 0px 0px 0px 125px;
}
.contactus ul li:nth-child(3) .contact-item img {
  max-height: 100px;
}
.contactus ul li:nth-child(3) .contact-item .contact-title {
    color: #26acdf;
    margin-top: 16px;
    font-size: 24px;
    font-weight: 700;
}
.contactus ul li:nth-child(3) .contact-item p {
    font-size: 20px;
    line-height: 28px;
}

@media(max-width: 767px){
  .contactus ul li:nth-child(3) {
      width: 93%;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .contactus ul li:nth-child(3) {
      width: 46.5%;
  }
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li + li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 20px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  padding: 0 30px 0 45px;
  outline: none;
}

.faq .faq-list .icon-help {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  left: 20px;
}

.faq .faq-list .icon-show, .faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 0;
  padding: 15px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a.collapsed:hover {
  color: #ff7f5d;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonial-author{
}

.testimonial-author img{
  border-radius: 50%;
  margin: 0 auto;
}

.testimonial-content{
}

.testimonial-content p{
  font-size: 22px;
  line-height: 30px;
  font-style: italic;
  padding-top: 30px;
  height: 200px;
  margin-bottom: 30px;
  overflow-y: scroll;
}

.testimonial-content p::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #01bfff;
    border-radius: 10px;
}

.testimonial-content p::-webkit-scrollbar {
    width: 10px;
    margin-left: 0;
    background-color: #01bfff;
}

.testimonial-content p::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #01bfff;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#353275), to(#353275), color-stop(0.6, #353275));
}

.quote-down{
  max-height: 30px;
  transform: rotate(180deg);
  margin-top: -20px;
  margin-right: 7px;
}

.testimonial-authordetail{
}

.testimonial-authordetail h5{
  font-weight: bold;
}

.testimonial-authordetail span{
  font-style: italic;
  font-weight: 300;
}

.testimonial-carousel .owl-item {
  float: left;
}

.testimonial-carousel{
  overflow: hidden;
  position: relative;
  padding-bottom: 110px;
}

.testimonial-carousel .owl-nav{
  display: none;
}

.testimonial-carousel .owl-nav .owl-prev{
  position: absolute;
  left: calc(50% - 55px);
  bottom: 0;
}

.testimonial-carousel .owl-nav .owl-next{
  position: absolute;
  right: calc(50% - 55px);
  bottom: 0;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next{
  background-color: #0b345d;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #2f1708;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# All Blogs
--------------------------------------------------------------*/
.myblog-img{
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  position: relative;
}

.blog-eye{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.blog-eye a i{
  color: #fff;
  font-weight: 800;
  font-size: 48px;
}

.myblog-img:hover .blog-eye{
  height: 100%;
  opacity: 1;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Blog Detail
--------------------------------------------------------------*/
.blog-single-btn{
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  line-height: 1;
  letter-spacing: 1px;
  display: inline-block;
  color: #fff;
  background: #0b345d;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.blog-single-btn:hover{
  color: #fff;
}

.blog .entry {
  padding: 20px;
  margin-bottom: 60px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

.blog .entry .entry-img {
  max-height: 400px;
  margin: -20px -20px 20px -20px;
  overflow: hidden;
}

.blog .entry .entry-title {
  font-size: 22px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}

.blog .entry .entry-title a {
  transition: all 0.5s ease-in-out;
}

.blog .entry .entry-title a:hover {
  color: #0b345d;
}

.blog .entry .entry-meta {
  margin-bottom: 15px;
}

.blog .entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.blog .entry .entry-meta ul li + li {
  padding-left: 20px;
}

.blog .entry .entry-meta i {
  font-size: 15px;
  padding-right: 4px;
  color: #0b345d;
}

.blog .entry .entry-meta a {
  font-size: 15px;
  display: inline-block;
  line-height: 1;
}

.blog .entry .entry-content p {
  line-height: 28px;
  font-size: 18px;
}

.blog .entry .entry-content ul{
  list-style: none;
  padding-left: 0px;
}

.blog .entry .entry-content ul li{
   font-size: 18px;
   line-height: 26px;
   margin-bottom: 16px;
}

.blog .entry .entry-content ul li i{
  color: #0b345d;
  font-size: 22px;
  margin-right: 5px;
}

.blog .entry .entry-content .read-more {
}

.blog .entry .entry-content .read-more a {
  padding: 18px 32px;
}

/* comments */

.blog .blog-comments {
  margin-bottom: 30px;
}

.blog .blog-comments .comments-count {
  font-weight: bold;
}

.blog .blog-comments .comment {
  margin-top: 30px;
  position: relative;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

.blog .blog-comments h4{
}

.blog .blog-comments .comment .comment-img {
  width: 60px;
  margin-right: 10px;
}

.blog .blog-comments .comment h5 {
  margin-left: 65px;
  font-size: 16px;
  margin-bottom: 2px;
}

.blog .blog-comments .comment h5 a {
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.blog .blog-comments .comment h5 a:hover {
  color: #0b345d;
}

.blog .blog-comments .comment h5 .reply {
  padding-left: 10px;
}

.blog .blog-comments .comment time {
  margin-left: 65px;
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.blog .blog-comments .comment p {
  margin-left: 65px;
}

.blog .blog-comments .comment.comment-reply {
  padding-left: 40px;
}

.blog .blog-comments .reply-form {
  margin-top: 30px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

.blog .blog-comments .reply-form h4 {
  font-weight: bold;
  font-size: 22px;
}

.blog .blog-comments .reply-form p {
  font-size: 14px;
}

.blog .blog-comments .reply-form input {
  border-radius: 0;
  padding: 20px 10px;
  font-size: 14px;
}

.blog .blog-comments .reply-form input:focus {
  box-shadow: none;
  border-color: #0b345d;
}

.blog .blog-comments .reply-form textarea {
  border-radius: 0;
  padding: 10px 10px;
  font-size: 14px;
}

.blog .blog-comments .reply-form textarea:focus {
  box-shadow: none;
  border-color: #0b345d;
}

.blog .blog-comments .reply-form .form-group {
  margin-bottom: 25px;
}

.blog .blog-comments .reply-form .blog-detailbtn {
  padding: 14px 30px;
  border: none;
}

.blog .blog-pagination {
}

.blog .blog-pagination ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.blog .blog-pagination li {
  border: 1px solid #0b345d;
  margin: 0 5px;
  transition: all 0.5s ease-in-out;
  background-color: #fff;
}

.blog .blog-pagination li.active {
  background: #0b345d;
}

.blog .blog-pagination li a {
  color: #0b345d;
  font-weight: bold;
  padding: 7px 16px;
  display: inline-block;
}

.blog .blog-pagination li.active, .blog .blog-pagination li:hover {
  background: #0b345d;
  border: 1px solid #0b345d;
}

.blog .blog-pagination li.active a, .blog .blog-pagination li:hover a {
  color: #fff;
}

.blog .blog-pagination li.disabled {
  background: #fff;
  border: 1px solid white;
}

.blog .blog-pagination li.disabled i {
  color: #f1f1f1;
  padding: 10px 16px;
  display: inline-block;
}

.blog .sidebar {
  margin: 0 0 60px 0;
}

.blog .blog-author {
  padding: 20px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.blog .blog-author img {
  width: 120px;
  margin-bottom: 15px;
}

.blog .blog-author h4 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 10px;
}

.blog .blog-author .social-links {
  margin: 0 0 5px 0px;
}

.blog .blog-author .social-links a {
  color: #0b345d;
}

.blog .sidebar .sidebar-title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px;
  background-color: #0b345d;
  margin: 0 0 0 0;
  color: #fff;
  text-align: center;
  letter-spacing: 1.4px;
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

.blog .sidebar .sidebar-title i{
  display: none;
}

.blog .sidebar .sidebar-item {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

.blog .sidebar .categories ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .categories ul li + li {
  padding-top: 10px;
}

.blog .sidebar .categories ul a {
  color: #0b345d;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid #0b345d;
  display: block;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.blog .sidebar .categories ul a:hover {
  background-color: #0b345d;
  color: #fff;
}

.blog .sidebar .categories ul a span {
  padding-left: 5px;
  font-size: 14px;
}

.blog .sidebar .recent-posts .post-item + .post-item {
  margin-top: 15px;
}

.blog .sidebar .recent-posts img {
  width: 80px;
  float: left;
}

.blog .sidebar .recent-posts h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
}

.blog .sidebar .recent-posts h4 a {
  transition: all 0.5s ease-in-out;
}

.blog .sidebar .recent-posts h4 a:hover {
  color: #0b345d;
}

.blog .sidebar .recent-posts time {
  display: block;
  margin-left: 95px;
  font-style: italic;
  font-size: 14px;
}

.blog .sidebar .tags {
}

.blog .sidebar .tags ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .tags ul li {
  display: block;
}

.blog .sidebar .tags ul a {
  color: #0b345d;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid #0b345d;
  display: block;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.blog .sidebar .tags ul a:hover {
  color: #fff;
  background: #0b345d;
}

.blog .sidebar .tags ul a span {
  padding-left: 5px;
  font-size: 14px;
}

.btn-toolbar button{
  margin-right: 10px;
  padding: 12px 20px;
  font-size: 20px;
} 

.btn-toolbar .facebook{
  background-color: #3B5998;
}

.btn-toolbar .twitter{
  background-color: #55ACEE;
}

.btn-toolbar .instagram{
  background-color: #125688;
}

.btn-toolbar .linkedin{
  background-color: #007bb5;
}

.btn-toolbar button a{
  color: #fff;
}

@media(max-width: 767px){
  .blog .entry {
    margin-bottom: 20px;
  }
  .blog .entry-title{
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .blog .blog-pagination {
    margin-bottom: 40px;
  }
  .blog .sidebar .sidebar-item {
    margin-bottom: 20px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .blog .blog-pagination {
    margin-bottom: 50px;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0 10px;
  background-color: #0b345d;
}

.breadcrumbs h2 {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #fff;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  font-size: 18px;
  float: right;
}

.breadcrumbs ol li,.breadcrumbs ol li a{
  color: #fff;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #fff;
  content: "|";
}

@media (max-width: 767px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs h2 {
    font-size: 28px;
  }

  .breadcrumbs{
    text-align: center;
  }

  .breadcrumbs ol{
    float: none;
    justify-content: center;
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .breadcrumbs{
    text-align: center;
  }

  .breadcrumbs ol{
    float: none;
    justify-content: center;
  }
}